<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include ..\SharedProperties.wxi ?>

	<Product Id="*"
			 Name="CodeProject SenseAI Sentiment Analyisis Module"
			 Language="1033"
			 Version="$(var.BuildVersion)"
			 Manufacturer="CodeProject"
			 UpgradeCode="9978b2bd-6c0d-40a0-999d-f22a25e8e00d">

		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<MediaTemplate EmbedCab="yes" />

		<Feature Id="SentimentAnalysisAIFeature" Title="Sentiment Analyisis Module" Level="1">
			<ComponentGroupRef Id="SentimentAnalysisFilesComponentGroup" />
		</Feature>
	</Product>
	<?include ..\SharedDirectories.wxi ?>
</Wix>