<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="SentimentAnalysisInstallFolder">
            <Directory Id="dir987EAD4E066328B18A56C854FB80128A" Name="runtimes" />
            <Directory Id="dirD66819168853D2F64AC57AF64388EB3D" Name="sentiment_model" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SentimentAnalysisFilesComponentGroup">
            <Component Id="cmpB265BDE04C41F12026AE3B634EB72863" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil4E4DD6F44592A9A767C85A3C3C2A8EB8" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\appsettings.Development.json" />
            </Component>
            <Component Id="cmp663B028275561EF138E52D7A71C28EF9" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filAC59EE9A56ACA9E2C16678DB5614CC21" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\appsettings.json" />
            </Component>
            <Component Id="cmpE58388BCF32096A58093A2855BB51F67" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filD5BD2E6F149C8751F012F8037D63C7D7" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\CodeProject.SenseAI.AnalysisLayer.SDK.dll" />
            </Component>
            <Component Id="cmp8DC66640CBBA3537FF89FC3508627568" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil76CC85BB938D6E47B39058905EC99F44" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\CodeProject.SenseAI.AnalysisLayer.SDK.pdb" />
            </Component>
            <Component Id="cmpC3777C1B07E85968E16857D59C045513" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil8AA1FCA5C937BF9404FEB5FC067E23E8" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Google.Protobuf.dll" />
            </Component>
            <Component Id="cmp01242E0143C8EE1F6FDB3D4D56900B03" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil86513D866A4F3AA1A21F5ACBDE6CEE0F" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\ICSharpCode.SharpZipLib.dll" />
            </Component>
            <Component Id="cmpA5BCF816A851977FD5F38FF843622D0E" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil828185EDCCB3626910F8B53C596EAD95" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmp7F9EB0C72753342D52853C524F2F65C4" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil27BF45D0458419562E672AFB58163062" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>
            <Component Id="cmpB7CDB1DDEC4B3E4AD956BBA98D7388EC" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filC7F0B8940854F6CF3D4A4F2A0AB09ACD" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Configuration.CommandLine.dll" />
            </Component>
            <Component Id="cmpD14680AA831007463BED43A5693F5D84" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil5F746A8801DC4E3296FAE319B7FB61E5" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmpF4B8185FD34D8C10BB9A8E3D7711EF93" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil8654B904E91A3B2C38EC4F013FCC454A" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
            </Component>
            <Component Id="cmpAEE062282D4CBC4C6A2235A3E81E52A8" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil37C6C56EC79A4CACC71A786325A5DF3A" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmp8265D0971253A9AA916C526169BA7DB8" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil632C44FF3F873940A12A7C0AE51F272E" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmp16691291F1CF76C866BCFFD4B8B03373" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filE583302989292EDCB2DBD4B5299FED59" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Configuration.UserSecrets.dll" />
            </Component>
            <Component Id="cmp5B302EA484B0DADBC546FF8D032AD9CF" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filB8E149FFE79F217BD965FAC73550750D" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmpE51B6AD9F9786380F893ACA3A4CE9202" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil22FA0A68CAF0C745FE2A7DD46EF0E3C8" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmp83BE1368347007C7F7AE5640EE6C9D94" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filF20DEDAF83E253119235891ED304073E" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmp129E6E418C94FBE052A8E1050090F11B" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil0ABDCF5060F1B880AFE609049E49028F" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmp47D634FBF697C40AC08D45742612FE97" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil00D82F94BB03D4FE6825E87F7E589AC4" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmpAD5A70A7853283C04B226A130B6BFC81" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filDB169D359F537899B5886D3810EB5379" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Hosting.Abstractions.dll" />
            </Component>
            <Component Id="cmpE2FC561900DB608D90FAA13B27E8E927" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filF0085B1855DC2864C50EAD4C577D4FF1" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Hosting.dll" />
            </Component>
            <Component Id="cmp236DC751C5C08AAF450FCAF77B7E7887" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filC91B99D0F71396D6524EE48D6655A304" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmp83C74994F51FB1C2C642D8C7DD0B4970" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil506F05C20F117863F72A00288638A284" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Logging.Configuration.dll" />
            </Component>
            <Component Id="cmp3CF74E30BB821D27A9C0F53F3EE222FB" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil857E062AB3DC16008FD7F7F1923CECC7" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Logging.Console.dll" />
            </Component>
            <Component Id="cmp29A927A4AAAC35ED73503CB0C77C2E1E" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filFD10FD969AACC76033D220DF3491759E" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Logging.Debug.dll" />
            </Component>
            <Component Id="cmp7DEC9E270B3D7267AE5BC0B4A109FCD1" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil28E27525CEEBE9081F30C4E8C1CC92F7" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmp4E2251767437EA24122E068569E79A14" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filFC90523E346F09A5015B4EF04F499EA7" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Logging.EventLog.dll" />
            </Component>
            <Component Id="cmp5D31AF6F2C6923659D6A48F0AE3B6BF5" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filD1A9CCA2A829F34F7C2BA47BC750D630" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Logging.EventSource.dll" />
            </Component>
            <Component Id="cmp2E5E4D3281F1DD19BCAEB362C0628D1F" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil3D7CD32F30F84DFECF7776E8B3842C7D" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
            </Component>
            <Component Id="cmp7812FABC6CABD21121D8C9B0B1598E22" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filCCD6E274F78A1B23BF7CD220812F4A0B" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmp07862216656FE55E6B0FDADC78B16370" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil6757BCC96D4015006B4ECC0CCD6D9D93" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmp7DAFED92740595693CE84AF739B553F0" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filA2D2A006AD23F60BD5209F372211BCCA" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.ML.Core.dll" />
            </Component>
            <Component Id="cmp8D271968F536AE7FB7739BB90D17EE82" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filC845A6A316E5B9404F782982B973F92E" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.ML.CpuMath.dll" />
            </Component>
            <Component Id="cmp41645CC09AD5176B94BF9579D19E8C51" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil091938CA76C50D7583B42EF6701E4DD4" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.ML.Data.dll" />
            </Component>
            <Component Id="cmp73211DE3E6BD55A25221451038B71F43" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filF9560807DE799A03C8335DD15A11A7E2" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.ML.DataView.dll" />
            </Component>
            <Component Id="cmp8EA090341890104F134F0D9005269C4F" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filE252CC78A66BB7A708667B88D7C468BA" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.ML.dll" />
            </Component>
            <Component Id="cmpB7FE69EE05F75CB21427C5CCA7AEF34B" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil5C627CC990D82970163ED9B292B503D0" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.ML.KMeansClustering.dll" />
            </Component>
            <Component Id="cmpEADE3C010C661D3882CB995014F08294" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil593F80130DF4C3AE5A98E795C4EE216A" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.ML.PCA.dll" />
            </Component>
            <Component Id="cmp823D334A5E97FDB513421117795FD5FB" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil0833C4582FA8C57173DB4B8EEC834439" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.ML.SamplesUtils.dll" />
            </Component>
            <Component Id="cmp5D343D31673E3F0ECCD7CA95C290257E" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil62C55C64879852E8171052C2E4BB9827" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.ML.StandardTrainers.dll" />
            </Component>
            <Component Id="cmpF64223A87A236BFAE3FE95AF3BCF9408" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil71A0C468661BCBF5A85BEBBC5CDE1650" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.ML.TensorFlow.dll" />
            </Component>
            <Component Id="cmp8BBAE69368267E6A79856AB1A50813B2" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil477585385A397AFE91D661D04A34B72C" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.ML.Transforms.dll" />
            </Component>
            <Component Id="cmp2E47CB38CDC791D7DACF120BA4063760" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filC2A7D93CE27F7CF0B1A5BEC6E0159D06" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Microsoft.Win32.SystemEvents.dll" />
            </Component>
            <Component Id="cmp69668206C1D70831D40DB9BF4A3B0C4D" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil000D8C68EBB743B96A660F50D9E18513" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\modulesettings.development.json" />
            </Component>
            <Component Id="cmp92A7BA09A24AEB2F10C6BE38D9CC2BAC" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil947113AE8868DDB53E616038A3F7412F" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\modulesettings.json" />
            </Component>
            <Component Id="cmp95D12D7FD5BE34AE39E26B27780738B2" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil71109A303730AFCFC3694B7CDF246799" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp149913818E32BCED688471EEAD3CA466" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil77FA2BF65B59F824A986400E73ADAEA7" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\NumSharp.Lite.dll" />
            </Component>
            <Component Id="cmpD6D8AFC66B619732333C328E157928FD" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil46D9925B52FC09E213D5D17A22226492" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\Protobuf.Text.dll" />
            </Component>
            <Component Id="cmp3A9BDE01492D862AB273AC88055882FA" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filA00939C303EA187BB67D234CCA2AA3B8" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\SentimentAnalysis.deps.json" />
            </Component>
            <Component Id="cmp9F3123657565529FB230819482FBF7FA" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil32D5C62AA33466AC1876BE3BC430F052" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\SentimentAnalysis.dll" />
            </Component>
            <Component Id="cmpAAE43FBC9D7D3A366BF3CDBECF10DA12" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil641C749E14F0D2FD0483C9A2130F1B9D" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\SentimentAnalysis.exe" />
            </Component>
            <Component Id="cmpA5AD1C63D0CAA922A82E0AFEB7103C72" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil5466276FB57620E21386CAE3B5774F54" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\SentimentAnalysis.pdb" />
            </Component>
            <Component Id="cmp38547245B1B1BCDD03AB7D5C41C7870B" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil7FBBABDC77F0A3E040ABBA7D0D3F8A85" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\SentimentAnalysis.runtimeconfig.json" />
            </Component>
            <Component Id="cmpF14B8194E73B21B8A3B75127769264F8" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filE4D9BBB2019B7731E597DE05B4501251" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\SkiaSharp.dll" />
            </Component>
            <Component Id="cmp78DB99088E1558ED427F675C9B5DD0DA" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="filAB4B54F2C5C2E08AA64CF7E3499D0655" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\SkiaSharp.Views.Desktop.Common.dll" />
            </Component>
            <Component Id="cmpFE472D8C2EDA94283118935FBC941EB6" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil44927DCA5A6BA76A692D018A06AE1580" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\System.CodeDom.dll" />
            </Component>
            <Component Id="cmp8465FBD38FC931A02B14515A8EED7786" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil0A8E2B7E8743A9CB4101400FAAEA3D36" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\System.Diagnostics.EventLog.dll" />
            </Component>
            <Component Id="cmp7354EFF2E846E4F3363C1B81DDAB7ADE" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil789ED66F4E98C854C0EDDCF81A903CD2" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\System.Drawing.Common.dll" />
            </Component>
            <Component Id="cmp94098078840461A2313EF2271719FEF5" Directory="SentimentAnalysisInstallFolder" Guid="*">
                <File Id="fil02F54570A98D0A4972D661B91115BB9D" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\TensorFlow.NET.dll" />
            </Component>
            <Component Id="cmpAD3EDC24EE2EDFEB246DA9E33C3A8ED9" Directory="dir048F647472C3E96F754D9BAFBD87B30E" Guid="*">
                <File Id="filDB07E5E80C76B80B5474537BC76341F1" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\linux-arm\native\libLdaNative.so" />
            </Component>
            <Component Id="cmp64C1C3399ADE5A5B23A8C21EABFCEE53" Directory="dir048F647472C3E96F754D9BAFBD87B30E" Guid="*">
                <File Id="fil67833A1915B2A90E169BC9B227D92CF2" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\linux-arm\native\libSkiaSharp.so" />
            </Component>
            <Component Id="cmp347E348E24475A6E4C1E0689BBE300BD" Directory="dir8384A142F3437679798C8A33CB37DB54" Guid="*">
                <File Id="fil6C3B289AEE6ABB10ED48817C2AC28E32" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\linux-arm64\native\libLdaNative.so" />
            </Component>
            <Component Id="cmp5660A20860B97EFB1DA3EE3057FA8AAD" Directory="dir8384A142F3437679798C8A33CB37DB54" Guid="*">
                <File Id="fil665F3A04C914BF0A15DFEFF1BD9CDC8A" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\linux-arm64\native\libSkiaSharp.so" />
            </Component>
            <Component Id="cmpCB9C30D1799C58888A06E03272C303DC" Directory="dirB48EEE41BC3EA4A2C1502F09592C6CA2" Guid="*">
                <File Id="filF357AF59D45165ACE8F8F5D85FED4E98" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\linux-musl-x64\native\libSkiaSharp.so" />
            </Component>
            <Component Id="cmp7B8BFAF813FA171F0948FABB6DA7C0EB" Directory="dirEDED9D8521A67E7BAE106F1C144ADE88" Guid="*">
                <File Id="fil5FFBF6E5A5518C6DAD66EEAF9EFCEAE0" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\linux-x64\native\libLdaNative.so" />
            </Component>
            <Component Id="cmp77B713D27FF84C17B6D114A26DFB3FA5" Directory="dirEDED9D8521A67E7BAE106F1C144ADE88" Guid="*">
                <File Id="fil8324B7722AF30CFF9C63E96DFC69C423" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\linux-x64\native\libSkiaSharp.so" />
            </Component>
            <Component Id="cmpEEFBE30B6F135C48C104F81D68F819FB" Directory="dirEDED9D8521A67E7BAE106F1C144ADE88" Guid="*">
                <File Id="filA9A74A9D1AFE6BCC80872F3F13FE057A" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\linux-x64\native\libtensorflow.so" />
            </Component>
            <Component Id="cmp51C7DBA54685E71D9962ACE003287CAD" Directory="dirEDED9D8521A67E7BAE106F1C144ADE88" Guid="*">
                <File Id="filC2559F0A3F45B4BEE9F9F9FE3996BB52" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\linux-x64\native\libtensorflow_framework.so.2" />
            </Component>
            <Component Id="cmp5B558CA833894E3AEE4F4BFB9CB0CF79" Directory="dir5D23336D72B9803169AF3BC7D66DA68C" Guid="*">
                <File Id="fil1178B1462A661E1DE2E82AF1E3C434AE" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\osx\native\libSkiaSharp.dylib" />
            </Component>
            <Component Id="cmp8654F899ED981CE27621AA3CC33E8E1F" Directory="dirDD8B841F3099C02BF0BD2CEBD2B54ED1" Guid="*">
                <File Id="filAC1D6CFF3EDD093BBD62788C0DCFA769" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\osx-arm64\native\libLdaNative.dylib" />
            </Component>
            <Component Id="cmp403E9FFD4935436F692D4F85E0BE88FB" Directory="dirC6EB3353E0490534B8CDD5C2BE419F51" Guid="*">
                <File Id="fil61710A86D5C3BB577980746240554F8B" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\osx-x64\native\libLdaNative.dylib" />
            </Component>
            <Component Id="cmp78C8236DFDE804FB9F5CC2EC53D34B56" Directory="dirC6EB3353E0490534B8CDD5C2BE419F51" Guid="*">
                <File Id="filC2F999EEFEBED3796827814DCB986133" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\osx-x64\native\libtensorflow.dylib" />
            </Component>
            <Component Id="cmpD137CDC120C16A36BDEF0DB9A0E7F339" Directory="dirC6EB3353E0490534B8CDD5C2BE419F51" Guid="*">
                <File Id="fil08CE826FEED4B3EF7C7C569798AAE904" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\osx-x64\native\libtensorflow_framework.2.dylib" />
            </Component>
            <Component Id="cmpB369E84F0CCA179429A8B648FF978451" Directory="dir7F92F4D37A345156452CF1E1E34E6513" Guid="*">
                <File Id="filB0CA5458AAE00468127EF18248233D46" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\unix\lib\netcoreapp2.0\System.Drawing.Common.dll" />
            </Component>
            <Component Id="cmpAB95014E1C26ED072DC8CD1E55F87EFD" Directory="dir92BAED001672317B722BA78DA625FEEC" Guid="*">
                <File Id="fil9440F614AD8E3320975CFEAFE8F99989" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\win\lib\net6.0\System.Diagnostics.EventLog.dll" />
            </Component>
            <Component Id="cmp94D4E70EF4FB1DF68BF972CC1E3CCE55" Directory="dir92BAED001672317B722BA78DA625FEEC" Guid="*">
                <File Id="fil8AB87D5C2EA74D177697A5618E7A57A7" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\win\lib\net6.0\System.Diagnostics.EventLog.Messages.dll" />
            </Component>
            <Component Id="cmpA8F9CFB6985F59673930FCFFF8188135" Directory="dir922249A3D0E0B808B7945100DBDBEBBB" Guid="*">
                <File Id="fil12FC3185936FC77F8B9139E16CB04542" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\win\lib\netcoreapp2.0\Microsoft.Win32.SystemEvents.dll" />
            </Component>
            <Component Id="cmp8375DD4279AF061307FEA43A4AADD7DE" Directory="dir922249A3D0E0B808B7945100DBDBEBBB" Guid="*">
                <File Id="filE6DB61B69E4BA7149DD434464359DB98" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\win\lib\netcoreapp2.0\System.Drawing.Common.dll" />
            </Component>
            <Component Id="cmpD3DC904B9B7C4AF808AF7EB4AB5919B5" Directory="dirE6AC14F7F0A4E4C56AFAD855E3B5F2E7" Guid="*">
                <File Id="fil1E32749AD79F229AF83DC6F4E0FDF1DA" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\win-arm64\native\libSkiaSharp.dll" />
            </Component>
            <Component Id="cmp5B111D9D0BE2BBE9A660C7AAAF5F6631" Directory="dir740EC3D6CF33F138B5F67DE719244CD4" Guid="*">
                <File Id="filA9D2ACE03BD696D7BC6591D02BE1D619" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\win-x64\native\LdaNative.dll" />
            </Component>
            <Component Id="cmp16A09EE76E9642410DBBBBD3DA6BED1B" Directory="dir740EC3D6CF33F138B5F67DE719244CD4" Guid="*">
                <File Id="fil2968EFC76A0FA7D4B1F061E9CA93D7B2" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\win-x64\native\libSkiaSharp.dll" />
            </Component>
            <Component Id="cmp722C4E94B9193929730332C577F6D53E" Directory="dir740EC3D6CF33F138B5F67DE719244CD4" Guid="*">
                <File Id="filA6EDB946E3B07AC08BB37AB1541FA8C6" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\win-x64\native\tensorflow.dll" />
            </Component>
            <Component Id="cmp91DFDA03B85187548AE0B99DCC9C35C5" Directory="dir3ADBE7D67E4DBFEAA37B53E43C263BA8" Guid="*">
                <File Id="filF3D5A9B4E5D59622F963283BE0CBB7B1" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\win-x86\native\LdaNative.dll" />
            </Component>
            <Component Id="cmp709556A6FE8B96B73D33FD4D3A4FAB60" Directory="dir3ADBE7D67E4DBFEAA37B53E43C263BA8" Guid="*">
                <File Id="fil2B8F50512AB4C710A756CA6DCB524DE2" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\runtimes\win-x86\native\libSkiaSharp.dll" />
            </Component>
            <Component Id="cmp7442AFBFC27180C7A35ACA560B8900F5" Directory="dirD66819168853D2F64AC57AF64388EB3D" Guid="*">
                <File Id="filF206E7E7FC85B96CE6BF12F4A8DB10CD" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\sentiment_model\imdb_word_index.csv" />
            </Component>
            <Component Id="cmpAA08600B45F705F20B5A560F7F5FA25F" Directory="dirD66819168853D2F64AC57AF64388EB3D" Guid="*">
                <File Id="filAFD6C02B1792891F67F693DCC5D3BED1" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\sentiment_model\saved_model.pb" />
            </Component>
            <Component Id="cmpCDEBCA078B9C00C7A99D11911A39FFAB" Directory="dir65D54D4520081D41A14F73B1EF309929" Guid="*">
                <File Id="filEA61928E69F04665EC2E07F0DCC7A5B6" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\sentiment_model\variables\variables.data-00000-of-00001" />
            </Component>
            <Component Id="cmp44D7F0EF174192D0E5B517CDBE724BEF" Directory="dir65D54D4520081D41A14F73B1EF309929" Guid="*">
                <File Id="fil8EF5EF30290C578FD556A8D9A846D3AC" KeyPath="yes" Source="$(var.SentimentAnalysis.TargetDir)\sentiment_model\variables\variables.index" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir987EAD4E066328B18A56C854FB80128A">
            <Directory Id="dir029878FC8D8B0AA53996FBA2A1ED0DAB" Name="linux-x64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir987EAD4E066328B18A56C854FB80128A">
            <Directory Id="dir0438BF4F30C7DC22C80237B33CF68B84" Name="osx-arm64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFDC10A3D4E64ED57F750427E2B2119CD">
            <Directory Id="dir048F647472C3E96F754D9BAFBD87B30E" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir987EAD4E066328B18A56C854FB80128A">
            <Directory Id="dir07BBA11FD354AA0CC020DB2CCF99D353" Name="win-x86" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir987EAD4E066328B18A56C854FB80128A">
            <Directory Id="dir147F0A6B955177A3BFAAFD0AF4950CCC" Name="linux-musl-x64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir07BBA11FD354AA0CC020DB2CCF99D353">
            <Directory Id="dir3ADBE7D67E4DBFEAA37B53E43C263BA8" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir987EAD4E066328B18A56C854FB80128A">
            <Directory Id="dir3EAAA163AF574A56072544A669CFBBF4" Name="win" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3EAAA163AF574A56072544A669CFBBF4">
            <Directory Id="dir4D48E3B549D3FA2D26B840D29A16B4B8" Name="lib" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7FBCD21F4921ED55F33459749D19FE61">
            <Directory Id="dir5D23336D72B9803169AF3BC7D66DA68C" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirD66819168853D2F64AC57AF64388EB3D">
            <Directory Id="dir65D54D4520081D41A14F73B1EF309929" Name="variables" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirE94EB9C0E3221DD5A93B5B9CCD9B79E8">
            <Directory Id="dir740EC3D6CF33F138B5F67DE719244CD4" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir987EAD4E066328B18A56C854FB80128A">
            <Directory Id="dir7933F1459E21D7A480DF0A5955692798" Name="osx-x64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirD9941C347A6B3C7DA81D25F5D62C6D11">
            <Directory Id="dir7F92F4D37A345156452CF1E1E34E6513" Name="netcoreapp2.0" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir987EAD4E066328B18A56C854FB80128A">
            <Directory Id="dir7FBCD21F4921ED55F33459749D19FE61" Name="osx" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir8F6D22C6358C1CF0DCBD49EBE2EBDD3D">
            <Directory Id="dir8384A142F3437679798C8A33CB37DB54" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir987EAD4E066328B18A56C854FB80128A">
            <Directory Id="dir8F6D22C6358C1CF0DCBD49EBE2EBDD3D" Name="linux-arm64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4D48E3B549D3FA2D26B840D29A16B4B8">
            <Directory Id="dir922249A3D0E0B808B7945100DBDBEBBB" Name="netcoreapp2.0" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4D48E3B549D3FA2D26B840D29A16B4B8">
            <Directory Id="dir92BAED001672317B722BA78DA625FEEC" Name="net6.0" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir147F0A6B955177A3BFAAFD0AF4950CCC">
            <Directory Id="dirB48EEE41BC3EA4A2C1502F09592C6CA2" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir987EAD4E066328B18A56C854FB80128A">
            <Directory Id="dirB8F56E3EA184F609F9CF8E2713947F57" Name="win-arm64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7933F1459E21D7A480DF0A5955692798">
            <Directory Id="dirC6EB3353E0490534B8CDD5C2BE419F51" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirED2E21F97E422D20392EF311035D2FFB">
            <Directory Id="dirD9941C347A6B3C7DA81D25F5D62C6D11" Name="lib" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir0438BF4F30C7DC22C80237B33CF68B84">
            <Directory Id="dirDD8B841F3099C02BF0BD2CEBD2B54ED1" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirB8F56E3EA184F609F9CF8E2713947F57">
            <Directory Id="dirE6AC14F7F0A4E4C56AFAD855E3B5F2E7" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir987EAD4E066328B18A56C854FB80128A">
            <Directory Id="dirE94EB9C0E3221DD5A93B5B9CCD9B79E8" Name="win-x64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir987EAD4E066328B18A56C854FB80128A">
            <Directory Id="dirED2E21F97E422D20392EF311035D2FFB" Name="unix" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir029878FC8D8B0AA53996FBA2A1ED0DAB">
            <Directory Id="dirEDED9D8521A67E7BAE106F1C144ADE88" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir987EAD4E066328B18A56C854FB80128A">
            <Directory Id="dirFDC10A3D4E64ED57F750427E2B2119CD" Name="linux-arm" />
        </DirectoryRef>
    </Fragment>
</Wix>