#! Python3.7

## CodeProject.AI - make this a "-r CodeProject.AI.requirements.txt"
requests         # Installing Requests, the HTTP library
Pillow           # Installing Pillow, a Python Image Library

## Needed, but not used everywhere.
Pandas           # Installing Pandas, a data analysis / data manipulation tool

## General libraries
SciPy            # Installing SciPy, a library for mathematics, science, and engineering
PyYAML           # Installing PyYAML, a library for reading configuration files

## For working with models

CoreMLTools      # Installing CoreMLTools, for working with .mlmodel format models

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0     # Installing PyTorch, an open source machine learning framework
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.7.0      # Installing TorchVision, for working with computer vision models

## Experiments:
## --extra-index-url https://download.pytorch.org/whl/cu113
## torch            # Installing PyTorch, an open source machine learning framework
## --extra-index-url https://download.pytorch.org/whl/cu113
## torchvision      # Installing TorchVision, for working with computer vision models

# last line empty