#! Python3.7

opencv-python-headless==4.8.1.78    # Installing OpenCV (headless), the Open source Computer Vision library
numpy==1.26.0                       # Installing NumPy, a package for scientific computing
matplotlib>=3.3.0                   # Installing Matplotlib, the Python plotting package
opencv-python>=4.6.0                # Installing OpenCV, the Open source Computer Vision library
pillow>=7.1.2                       # Installing Pillow, a Python Image Library
pyyaml>=5.3.1                       # Installing PyYAML, a library for reading configuration files
requests>=2.23.0                    # Installing Requests, the HTTP library
scipy>=1.4.1                        # Installing SciPy, a library for mathematics, science, and engineering
tqdm>=4.64.0                        # Installing TDQM, the Fast, Extensible Progress Meter
pandas>=1.1.4                       # Installing Pandas, a data analysis / data manipulation tool
psutil                              # Installing psutil, a tool to check system utilization
dill                                # Installing dill, for serializing and de-serializing Python objects
py-cpuinfo                          # Installing py-cpuinfo to allow us to query CPU info
ipython                             # Installing ipython, for interactive notebooks

# PyTorch-DirectML not working for this module
# torch-directml                # Installing the PyTorch DirectML plugin

# CPU specific Torch 1.8.0. Size ~531Mb
-f https://download.pytorch.org/whl/cpu/torch_stable.html
torch==1.8.0+cpu                    # Installing PyTorch, for Tensor computation and Deep neural networks
-f https://download.pytorch.org/whl/cpu/torch_stable.html
torchvision==0.9.0+cpu              # Installing TorchVision, for Computer Vision based AI

# CPU specific Torch 1.13.0. Size ~830Mb
# --extra-index-url https://download.pytorch.org/whl/cpu
# torch==1.13.0+cpu                 # Installing PyTorch, for Tensor computation and Deep neural networks
# --extra-index-url https://download.pytorch.org/whl/cpu
# torchvision==0.14.0+cpu           # Installing TorchVision, for Computer Vision based AI

# Explicitly install ultralytics without optional dependencies (like CUDA).
--no-deps
yolov5==6.2.3                       # Installing Ultralytics YoloV5 package for object detection in images

# CoreMLTools                       # Installing CoreMLTools, for working with .mlmodel format models


CodeProject-AI-SDK                  # Installing the CodeProject.AI SDK

# last line empty.