<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include ..\SharedProperties.wxi ?>
	
	<Product Id="*" 
			 Name="CodeProject SenseAI Yolo Object Detector" 
			 Language="1033" 
			 Version="$(var.BuildVersion)"
			 Manufacturer="CodeProject" 
			 UpgradeCode="b18457d2-1ff3-49d2-b17d-6f1ca197089e">
		
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="YoloNetFeature" Title="Yolo Object Detection Module" Level="1">
			<ComponentGroupRef Id="YoloNetFilesComponentGroup" />
			<!--<ComponentGroupRef Id="YoloNetModelsComponentGroup" />-->
		</Feature>
	</Product>

	<?include ..\SharedDirectories.wxi ?>
</Wix>
