<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="YoloNetInstallFolder">
            <Directory Id="dir24BF92BF6B2F030C4F8AF64D79AFEAE0" Name="assets" />
            <Directory Id="dir4D2817FD43D72DB4937B7A6CA83C752A" Name="runtimes" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="YoloNetFilesComponentGroup">
            <Component Id="cmp3489C446C231BD471A5A926E5B1E2D48" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil0BC76FF1C2DF46B935A350E095581D87" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\appsettings.Development.json" />
            </Component>
            <Component Id="cmp53A909F17FFFAF651BECE3F422ABC031" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil464CD764A7FE831374C12ABB5A3E2929" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\appsettings.json" />
            </Component>
            <Component Id="cmpAEAD300DA943D6D18896E6D657A5964A" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="filB55083D392A50E5EBA146609D14A1806" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\CodeProject.SenseAI.AnalysisLayer.Yolo.deps.json" />
            </Component>
            <Component Id="cmp6982E5A49402782E4BA48B4AD34AFA55" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil43D0AAA3CB2958AA99E80E47AE47ADD6" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\CodeProject.SenseAI.AnalysisLayer.Yolo.dll" />
            </Component>
            <Component Id="cmp6D550294069171332981332EC7AD7DCD" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil30C0D6897D4CAA1F07F101D0DBE7A3D3" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\CodeProject.SenseAI.AnalysisLayer.Yolo.exe" />
            </Component>
            <Component Id="cmp435000F33876F6C7C5A95B1BEB027FD5" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="filADF867B679F0C7285F92DE77BB8B7185" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\CodeProject.SenseAI.AnalysisLayer.Yolo.runtimeconfig.json" />
            </Component>
            <Component Id="cmpBFB919E3DFAC173EDAEDB3CB65B639A5" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil90639D843D30465FE027508B868A5685" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\CodeProject.SenseAI.API.Common.dll" />
            </Component>
            <Component Id="cmpC193D06B957B63A4BD2804249F7212DE" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil47D3A252FCD2E0FC3AC3247AFD03BE5F" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\CodeProject.SenseAI.Server.Backend.dll" />
            </Component>
            <Component Id="cmpFCDEC1ADB5CB65E49F69860AE9B41E5F" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil98F3B041C46B6AF2298264CA99AF6F56" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.AspNetCore.Http.Features.dll" />
            </Component>
            <Component Id="cmp6D349B4130C03BFEF42EE14641D87EB8" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil52E9BF1935FBA562845FADDE9458EA7D" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmp1C34ED5153EF4B2BFA09169BA93A6C95" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil09EC336ECF11FD4D95FD09EB455AA516" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>
            <Component Id="cmpCFC0A6501CF229D48295D49D79CD3097" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="filA32B0FFF54CE6ABB4623E3AEF0D6B760" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Configuration.CommandLine.dll" />
            </Component>
            <Component Id="cmp23C3F89A62E236E6CA5EE9EADDD2C3DD" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="filD34716BF12840916AE8F2A7E969B447F" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmp712FDFB0975B0CB780C54AC6B7AB9764" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="filD956E55444933F1AB9677D722A9039C5" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
            </Component>
            <Component Id="cmp8BFDC581F18B312E45EA06A08EBA5954" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil3EBE775E272366CA276013E3C878410F" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmp2470380BA0268397336031D7772DD806" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="filDC0403F96B3EE1ED3A9594050832D6E5" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmp81977843D46C5B8EAD737B97F14E4FBF" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="filD3C0D0FF061F37E15AC2668C21DA1C7F" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Configuration.UserSecrets.dll" />
            </Component>
            <Component Id="cmp894C220821BF3AF6F70421E8EDA4E051" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil91643851A82A3F9FD57966B69BB0BC0C" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmpECB623990FE0C7BF5C79F971D240D1B1" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil2E6D1F02E92D0DDDA91C149F7225A46C" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmpC07A511165172C502F11756C040B6193" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil5AFC873ED60D7A0D8992FE1F234F8531" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmp5CCEF4A10DCB84A7756615492FC41F4C" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil793EF1CDD83A7AB7B64F021187461C8F" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmp04ECE08CB9E575AB71F3F5ADD3E303B4" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="filF66B8FA03221B1A26DCF3521DA8EBCF9" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmp078E918DF9982188C4C26860F47F4951" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil98D65208291824AD7A885FEDC31F8338" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Hosting.Abstractions.dll" />
            </Component>
            <Component Id="cmpE5C2AF44B51303A4EE52866B7CD14B31" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil514F9E418CDF464A9FF54A73E7ECE3FA" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Hosting.dll" />
            </Component>
            <Component Id="cmpC905D12F740E77AB335065EBCC62A20E" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil0DDCE47A549BBCCAB0504DCEA228D34F" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Hosting.Systemd.dll" />
            </Component>
            <Component Id="cmp13D6FECBC3FFFF0B7C32FE07274B31EA" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="filB6793389F35595514E860550F656352E" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Hosting.WindowsServices.dll" />
            </Component>
            <Component Id="cmpE35263F74A7C9CF7C440AB8D1E34E4E2" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil269E4ABF2668A040B39CEC6F8E0FD180" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmpE6E3109E84C5D9BB81454D0BD8306A35" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="filF4FDA6C8F00BD5690C4FB058868BE9CB" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Logging.Configuration.dll" />
            </Component>
            <Component Id="cmp072C8ADC652ACE006C534CD68AA00070" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil0708B9C990F8F86BCFC602929EF1CF01" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Logging.Console.dll" />
            </Component>
            <Component Id="cmpC9AF1E7B04D4CB4993A05FD74BCA5D67" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil046CB205D4A4FBE25BF5F9ECF7CDC584" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Logging.Debug.dll" />
            </Component>
            <Component Id="cmpEE99441574EF600576547DA88C29AF94" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil66EDDD76606F80C6933FABC828FD41EE" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmp944F54E8568CF34AB8A2DFE834570F18" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil9A18112CAED395CE544BB838A72AF4BF" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Logging.EventLog.dll" />
            </Component>
            <Component Id="cmp43E6EEC8435476D4998069DBA10B26D4" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="filB20045AB0EFBB1109BFC5177586FBF08" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Logging.EventSource.dll" />
            </Component>
            <Component Id="cmp289DF7777533A2C9B6589E503EC5EB32" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="filEB9295E30E1E225E9E712DCFD0241FF9" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
            </Component>
            <Component Id="cmpBDDBC2554BAF7E6EB16FF22DB4AD6918" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="filD7775E40271B51EDBBE4AE45383F9A8F" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmp9F118ACA15F04C5B28CF35F79D47EF4A" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil4A6C8BAF4A701869636373BA625AC389" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmp5BD3A90717E3DDF54D402661FB9B8F57" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil09415C1D8940407BE26DCCBEC628D944" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.ML.OnnxRuntime.dll" />
            </Component>
            <Component Id="cmp1D3292142B631BC0B13A8B677DFD0B64" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="filB24CC698D7EE1919EE971B27F913D83B" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Microsoft.Win32.SystemEvents.dll" />
            </Component>
            <Component Id="cmpC2CA79C810EDBD134C824722189F2BD3" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil3E91EF221DDA4C68B83BA6A3EFBADE09" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimeconfig.template.json" />
            </Component>
            <Component Id="cmpCABC701113FC5B39922B4E1ECAF0DB9C" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="filF1C8823F3ED5CCB10D85CB26058B435B" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\SkiaSharp.dll" />
            </Component>
            <Component Id="cmp2464D87C1247C6EA11524C1C7AB9A63D" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil9B88BEE66B147A89D24137AFCBECCDDA" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\SkiaSharp.Views.Desktop.Common.dll" />
            </Component>
            <Component Id="cmp8EF66C36202E73A4FDC2B590795C5AFB" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil2ABE41DE7D1322B43F18FCB85EBE320E" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\System.Diagnostics.EventLog.dll" />
            </Component>
            <Component Id="cmp31570E23CCBF1FF44DC0673B9D7361FA" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil3F6BFA2788DA5B0409E041A66EC11BF3" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\System.Drawing.Common.dll" />
            </Component>
            <Component Id="cmp628F3CB4C4965D93B9CD7543B7FB2A34" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil2005570B8A7B6F84C59054AB4CE25A98" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\System.IO.Pipelines.dll" />
            </Component>
            <Component Id="cmpD4E73FBC36DDB9A26F1BBD788F69FF0C" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="filCC2E78B3CB50631846ED4B70C6BD8B76" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\System.ServiceProcess.ServiceController.dll" />
            </Component>
            <Component Id="cmp14AE4D63EEF45E1CC7A8FDEFBEEA62D1" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil5DC9E7DB762CB0916E2CF11A7EF58C83" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\System.Text.Json.dll" />
            </Component>
            <Component Id="cmp3957711AFD608B13CBDF03025ADD7B49" Directory="YoloNetInstallFolder" Guid="*">
                <File Id="fil0B1BA56DDF5FBF583825ED8D5111EF37" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\Yolov5Net.Scorer.dll" />
            </Component>
            <Component Id="cmpA3CCB14850F13F02E5B1D23EED0E6429" Directory="dir24BF92BF6B2F030C4F8AF64D79AFEAE0" Guid="*">
                <File Id="fil93D5456D3EA8413EFBD73B48E92D048B" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\assets\yolov5m.onnx" />
            </Component>
            <Component Id="cmp678AA154DDC8A1EC343FC30301C84426" Directory="dir24BF92BF6B2F030C4F8AF64D79AFEAE0" Guid="*">
                <File Id="filEEE3F8B357A2C55DD4E092DC2929A706" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\assets\yolov5n.onnx" />
            </Component>
            <Component Id="cmp7CFF8E710217B5A806486E79284A60E8" Directory="dir24BF92BF6B2F030C4F8AF64D79AFEAE0" Guid="*">
                <File Id="fil37BFE8A82FE9797B19C3ED0D04B432F0" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\assets\yolov5s.onnx" />
            </Component>
            <Component Id="cmpB553CCDCE1DE4C4555286B181FEEFE67" Directory="dirBE65F1E9C5F571FF6E19882D2AC32169" Guid="*">
                <File Id="fil663EE2B529380836D9A978107C842607" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\linux-arm\native\libSkiaSharp.so" />
            </Component>
            <Component Id="cmpBFDF7D6A004A4FC4F7CCD6B7CDBBFD43" Directory="dirCDBAC7171615C1434AC2A7EB6DAC2C85" Guid="*">
                <File Id="fil819487D11C0FEBCA0092AFABEF2C8A1E" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\linux-arm64\native\libSkiaSharp.so" />
            </Component>
            <Component Id="cmpC4666816C80AED11468CD2C886FCCAD2" Directory="dirC8702F12AAD1FDD33E73B0E335B302F0" Guid="*">
                <File Id="fil9D86347FC4B4E62DD04C92E74837E8F6" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\linux-musl-x64\native\libSkiaSharp.so" />
            </Component>
            <Component Id="cmpC1D8352D1988EDE82A7781F03BD5F33E" Directory="dirDF3AE194E1DC89EE0EE93A285AFD8D26" Guid="*">
                <File Id="fil3929D4E0DD20455FF7086BFAA16307F2" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\linux-x64\native\libSkiaSharp.so" />
            </Component>
            <Component Id="cmp35EED0D31D27AB9E4865D61A6ED8520E" Directory="dirC36E81190E013F57688704128E1910CA" Guid="*">
                <File Id="fil5EE0154FA824937E893C78425302C8E9" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\osx\native\libSkiaSharp.dylib" />
            </Component>
            <Component Id="cmp211076FD66424FBE7419C8068DB3B9AD" Directory="dir9B2EA7E000F4E4E8AD8A4979436BF70D" Guid="*">
                <File Id="fil27326CF6395381CBFAB4C817AF623DC2" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\unix\lib\net6.0\System.Drawing.Common.dll" />
            </Component>
            <Component Id="cmpF8AE186CD05DEBD26EE098B06B292E88" Directory="dir5F88ECE3435D77B545EEB9D406399853" Guid="*">
                <File Id="fil4275D2ED43857CAFA985D06D8ECE23F9" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\win\lib\net6.0\Microsoft.Win32.SystemEvents.dll" />
            </Component>
            <Component Id="cmpCA447446DC8D6533F740FA6F64C78E2E" Directory="dir5F88ECE3435D77B545EEB9D406399853" Guid="*">
                <File Id="filCA3FC97AD3904EDF6517CD7770050347" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\win\lib\net6.0\System.Diagnostics.EventLog.dll" />
            </Component>
            <Component Id="cmp43F0767F16ED1B6ED4B5D3172523205E" Directory="dir5F88ECE3435D77B545EEB9D406399853" Guid="*">
                <File Id="filF39CE975A77FD5D53A32ECCEC9DE4544" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\win\lib\net6.0\System.Diagnostics.EventLog.Messages.dll" />
            </Component>
            <Component Id="cmp394CE7151695068015DF6FBF7E410486" Directory="dir5F88ECE3435D77B545EEB9D406399853" Guid="*">
                <File Id="fil3A4CFB0785C6F08CECB9F9E3AD4969A1" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\win\lib\net6.0\System.Drawing.Common.dll" />
            </Component>
            <Component Id="cmpA6842430D797524CD119736AA6E3A51F" Directory="dir5F88ECE3435D77B545EEB9D406399853" Guid="*">
                <File Id="filD11ED45188E5D968EBA404C1381EA11B" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\win\lib\net6.0\System.ServiceProcess.ServiceController.dll" />
            </Component>
            <Component Id="cmpD53E30C2F2FEFD5796AB5CE953A7008C" Directory="dirA8824C8A34A7D7785B61FE60FF83E9A3" Guid="*">
                <File Id="filA081B71A7C5639CEF709D6AAC45984DA" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\win-arm\native\onnxruntime.dll" />
            </Component>
            <Component Id="cmpC190BFF38A58C05E302A31BEF5A57187" Directory="dirA8824C8A34A7D7785B61FE60FF83E9A3" Guid="*">
                <File Id="fil6FB7FACF46DA61EA01640D2D445DF4C0" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\win-arm\native\onnxruntime.lib" />
            </Component>
            <Component Id="cmp13AC01D1C59CB6B593ED4BECA567DB3B" Directory="dir3A64F71C0BE5F6CAFF1040E45F53FF2D" Guid="*">
                <File Id="filB88DFB56010984D7900C2AF6AB730C13" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\win-arm64\native\libSkiaSharp.dll" />
            </Component>
            <Component Id="cmp7DE1BA57E05B7B3B28A3ED484C7B8447" Directory="dir3A64F71C0BE5F6CAFF1040E45F53FF2D" Guid="*">
                <File Id="fil32A1336C2779915CA1071B76FF952AB0" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\win-arm64\native\onnxruntime.dll" />
            </Component>
            <Component Id="cmp9F21F15640CC07294E84B29663CD84D7" Directory="dir3A64F71C0BE5F6CAFF1040E45F53FF2D" Guid="*">
                <File Id="fil5850B04C8B350CD0EC6E1FE8771F3DDA" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\win-arm64\native\onnxruntime.lib" />
            </Component>
            <Component Id="cmp87BEAB686FBA29D189A77DAC5A5A4DC7" Directory="dirFBC83227DD6C6B044D7067A15A971248" Guid="*">
                <File Id="fil0BAADCADCA17E2B2395B07F90C48D613" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\win-x64\native\libSkiaSharp.dll" />
            </Component>
            <Component Id="cmp52CDDD9256884269B096012852703D57" Directory="dirFBC83227DD6C6B044D7067A15A971248" Guid="*">
                <File Id="fil652E1B8E34AB82B70098CA61482FD282" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\win-x64\native\onnxruntime.dll" />
            </Component>
            <Component Id="cmp2D410E035744E6DAE786C889F35E0C7E" Directory="dirFBC83227DD6C6B044D7067A15A971248" Guid="*">
                <File Id="fil2ACF28571D8C94CE62DC9A63D650E506" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\win-x64\native\onnxruntime.lib" />
            </Component>
            <Component Id="cmpEEBE8F5F923381583CC9AE590034B133" Directory="dir6E57CAF6C0A352FF1B5354EF4C940068" Guid="*">
                <File Id="fil627A796BD1CC1E1037777F9FDD47D2CB" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\win-x86\native\libSkiaSharp.dll" />
            </Component>
            <Component Id="cmpED4132F81DF5A2F63B58B7CEE2D73AC9" Directory="dir6E57CAF6C0A352FF1B5354EF4C940068" Guid="*">
                <File Id="filE498A75EEED7172F2AD649D9B3A4AF6B" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\win-x86\native\onnxruntime.dll" />
            </Component>
            <Component Id="cmp2283797E9CC9F9B2B48032C1BAE47DDD" Directory="dir6E57CAF6C0A352FF1B5354EF4C940068" Guid="*">
                <File Id="fil0FE29095456F05B3B3AB191504299137" KeyPath="yes" Source="$(var.CodeProject.SenseAI.AnalysisLayer.Yolo.TargetDir)\runtimes\win-x86\native\onnxruntime.lib" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4D2817FD43D72DB4937B7A6CA83C752A">
            <Directory Id="dir19C95C9F3A682E904E0444A7940AA0BD" Name="osx" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF6B9CAB81A3790B857DFD9773BDEDD52">
            <Directory Id="dir3A64F71C0BE5F6CAFF1040E45F53FF2D" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4D2817FD43D72DB4937B7A6CA83C752A">
            <Directory Id="dir3DD9196CCC208CB8AD3C25E7B728A694" Name="linux-arm" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4D2817FD43D72DB4937B7A6CA83C752A">
            <Directory Id="dir54E3B69282AADBA52982A9888878A40E" Name="unix" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir63CE3C5F407FA3B25A731172E2DE9C94">
            <Directory Id="dir5F88ECE3435D77B545EEB9D406399853" Name="net6.0" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirDC6E269AC3DF22B392F8C2347C774EF2">
            <Directory Id="dir63CE3C5F407FA3B25A731172E2DE9C94" Name="lib" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir75A5D9F5BCD33A999548DF616930A5B6">
            <Directory Id="dir6E57CAF6C0A352FF1B5354EF4C940068" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4D2817FD43D72DB4937B7A6CA83C752A">
            <Directory Id="dir75A5D9F5BCD33A999548DF616930A5B6" Name="win-x86" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4D2817FD43D72DB4937B7A6CA83C752A">
            <Directory Id="dir93A1646324749F9430A3BC8BBD0EC3DC" Name="linux-x64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF0678236AB9FAB985D37EEDC11BD05AC">
            <Directory Id="dir9B2EA7E000F4E4E8AD8A4979436BF70D" Name="net6.0" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4D2817FD43D72DB4937B7A6CA83C752A">
            <Directory Id="dir9FA81F8362C61671DE4978B96D621A8D" Name="linux-musl-x64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF8FEDB2834AC08BE69636E0E5F1D15B2">
            <Directory Id="dirA8824C8A34A7D7785B61FE60FF83E9A3" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3DD9196CCC208CB8AD3C25E7B728A694">
            <Directory Id="dirBE65F1E9C5F571FF6E19882D2AC32169" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir19C95C9F3A682E904E0444A7940AA0BD">
            <Directory Id="dirC36E81190E013F57688704128E1910CA" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9FA81F8362C61671DE4978B96D621A8D">
            <Directory Id="dirC8702F12AAD1FDD33E73B0E335B302F0" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4D2817FD43D72DB4937B7A6CA83C752A">
            <Directory Id="dirCB067EA577CF854CB3A9D184CE232BC9" Name="linux-arm64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4D2817FD43D72DB4937B7A6CA83C752A">
            <Directory Id="dirCC5A107DF20D95FDE0664749C3C38A06" Name="win-x64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirCB067EA577CF854CB3A9D184CE232BC9">
            <Directory Id="dirCDBAC7171615C1434AC2A7EB6DAC2C85" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4D2817FD43D72DB4937B7A6CA83C752A">
            <Directory Id="dirDC6E269AC3DF22B392F8C2347C774EF2" Name="win" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir93A1646324749F9430A3BC8BBD0EC3DC">
            <Directory Id="dirDF3AE194E1DC89EE0EE93A285AFD8D26" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir54E3B69282AADBA52982A9888878A40E">
            <Directory Id="dirF0678236AB9FAB985D37EEDC11BD05AC" Name="lib" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4D2817FD43D72DB4937B7A6CA83C752A">
            <Directory Id="dirF6B9CAB81A3790B857DFD9773BDEDD52" Name="win-arm64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4D2817FD43D72DB4937B7A6CA83C752A">
            <Directory Id="dirF8FEDB2834AC08BE69636E0E5F1D15B2" Name="win-arm" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirCC5A107DF20D95FDE0664749C3C38A06">
            <Directory Id="dirFBC83227DD6C6B044D7067A15A971248" Name="native" />
        </DirectoryRef>
    </Fragment>
</Wix>