<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="YOLONETMODELSFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="YoloNetModelsComponentGroup">
            <Component Id="cmp1DEC2A9A0195D0EEE0DB79D263662658" Directory="YOLONETMODELSFOLDER" Guid="*">
                <File Id="filEA0F070C8099A94DCAE50F1C23D2CD7B" KeyPath="yes" Source="$(var.ModelsHarvestPath)\yolov5m.onnx" />
            </Component>
            <Component Id="cmpD1C6EEA4BB778B35F5B3180E27A6CBF4" Directory="YOLONETMODELSFOLDER" Guid="*">
                <File Id="fil6CAB1C3A0CA78F63E86A90FA2687C88C" KeyPath="yes" Source="$(var.ModelsHarvestPath)\yolov5n.onnx" />
            </Component>
            <Component Id="cmp1749D89D3252034F137BEF41AB71F5C5" Directory="YOLONETMODELSFOLDER" Guid="*">
                <File Id="fil6510636DE32BB38A0682FA631EB15E3C" KeyPath="yes" Source="$(var.ModelsHarvestPath)\yolov5s.onnx" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>