#! Python3.7

# tflite-runtime>=2.5.0       # Installing Tensorflow Lite
https://github.com/google-coral/pycoral/releases/download/v2.0.0/tflite_runtime-2.5.0.post1-cp39-cp39-linux_x86_64.whl # Installing Tensorflow Lite
--extra-index-url https://google-coral.github.io/py-repo/ 
pycoral~=2.0                  # Installing PyCoral

numpy>=1.16.0                 # Installing NumPy, the fundamental package for array computing with Python
Pillow>=4.0.0,<10.0           # Installing Pillow, a Python Image Library

# last line empty