#! Python3.8

tflite-runtime>=2.5.0         # Installing Tensorflow Lite
numpy>=1.16.0                 # Installing NumPy, the fundamental package for array computing with Python
Pillow>=4.0.0                 # Installing Pillow, a Python Image Library

# Support for Python 3.6-3.9 on Linux x64 (though we use apt-get to install pycorl, not PIP)
# 3.6    https://github.com/google-coral/pycoral/releases/download/v2.0.0/pycoral-2.0.0-cp36-cp36m-linux_x86_64.whl
# 3.7    https://github.com/google-coral/pycoral/releases/download/v2.0.0/pycoral-2.0.0-cp37-cp37m-linux_x86_64.whl
# 3.8    https://github.com/google-coral/pycoral/releases/download/v2.0.0/pycoral-2.0.0-cp38-cp38-linux_x86_64.whl
# 3.9    https://github.com/google-coral/pycoral/releases/download/v2.0.0/pycoral-2.0.0-cp39-cp39-linux_x86_64.whl

# last line empty