#! Python3.8


# neither tflite or tf-macos has versions that support new OSs. We will install via scripp
# tflite-runtime==2.5.0.post1 # Installing Tensorflow Lite
# tensorflow-macos            # Installing Tensorflow for macOS, the open source machine learning framework for everyone
# tensorflow                  # Installing Tensorflow, the open source machine learning framework for everyone

# Note: if we wanted to support Metal and keras directly, we can add 
# https://developer.apple.com/metal/tensorflow-plugin/

numpy>=1.16.0                 # Installing NumPy, the fundamental package for array computing with Python.
#numpy==1.16.2                # Installing NumPy, a package for scientific computing

Pillow>=4.0.0                 # Installing Pillow, a Python Image Library

# Support for Python 3.6-3.9 on macOS 11 only
# 3.6	https://github.com/google-coral/pycoral/releases/download/v2.0.0/pycoral-2.0.0-cp36-cp36m-macosx_11_0_x86_64.whl
# 3.7	https://github.com/google-coral/pycoral/releases/download/v2.0.0/pycoral-2.0.0-cp37-cp37m-macosx_11_0_x86_64.whl
# 3.8	https://github.com/google-coral/pycoral/releases/download/v2.0.0/pycoral-2.0.0-cp38-cp38-macosx_11_0_x86_64.whl
# 3.9	https://github.com/google-coral/pycoral/releases/download/v2.0.0/pycoral-2.0.0-cp39-cp39-macosx_11_0_x86_64.whl

# Not supported on macOS > 12
# --extra-index-url https://google-coral.github.io/py-repo/ 
# pycoral~=2.0
# We are going to have to build this library ourselves
# - https://hub.docker.com/r/tensorflow/build for the docker build images
# - https://www.tensorflow.org/lite/guide/build_cmake_pip - official instructions
# - https://medium.com/@andrewlr/building-the-tensorflow-lite-python-tflite-runtime-on-a-raspberry-pi-zero-116bfa38be3f - useful instructions

# last line empty