#! Python3.9

torch >= 1.7.1              # Installing PyTorch, for Tensor computation and Deep neural networks
torchvision                 # Installing TorchVision, for Computer Vision based AI
Pillow						# Installing Pillow, a Python Image Library
