#! Python3.7

## SenseAI
requests         # Installing Requests, the HTTP library
Pillow           # Installing Pillow, a Python Image Library

## Needed, but not used everywhere.
THOP             # Installing THOP (PyTorch-OpCounter) for measuring performance
ONNX             # Installing ONNX, the Open Neural Network Exchange library
Pandas           # Installing Pandas, a data analysis / data manipulation tool
CoreMLTools      # Installing CoreMLTools, for working with .mlmodel format models

## General libraries
ONNXRuntime      # Installing ONNX runtime, the scoring engine for ONNX models
SciPy            # Installing SciPy, a library for mathematics, science, and engineering
PyYAML           # Installing PyYAML, a library for reading configuration files

## Specific versions that match the models we're using. 
Torch==1.6.0        # Installing Torch, for Tensor computation and Deep neural networks
TorchVision==0.7.0  # Installing TorchVision, for Computer Vision based AI