#! Python3.8

urllib3<2.0                   # Installing urllib3, the HTTP client for Python

# For edge devices only
# tflite-runtime==2.5.0.post1 # Installing Tensorflow Lite

# IF we wish to try a coral-specific solution then
# Use with https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py
# https://github.com/google-coral/pycoral/releases/download/v2.0.0/pycoral-2.0.0-cp36-cp36m-win_amd64.whl

# Tensorflow 2.10 was the last version that supported GPU on windows
tensorflow==2.10              # Installing Tensorflow

numpy			              # Installing NumPy, a package for scientific computing
Pillow<10.0.0			      # Installing Pillow, a Python Image Library
OpenCV-Python                 # Installing OpenCV, the Open source Computer Vision library

# last line empty