#! Python3.8

# https://developer.apple.com/metal/tensorflow-plugin/ - for metal, keras.

# tflite-runtime==2.5.0.post1 # Installing Tensorflow Lite
#tensorflow                    # Installing Tensorflow, the open source machine learning framework for everyone

tensorflow-macos              # Installing Tensorflow, the open source machine learning framework for everyone
tensorflow-metal              # Installing the Tensorflow Metal plug-in

# numpy>=1.16.0               # Installing NumPy, the fundamental package for array computing with Python.
numpy==1.16.2                 # Installing NumPy, a package for scientific computing

# numpy

Pillow>=4.0.0                 # Installing Pillow, a Python Image Library
OpenCV-Python                 # Installing OpenCV, the Open source Computer Vision library


# last line empty