#! Python3.8

tensorflow                    # Installing Tensorflow, the open source machine learning framework for everyone
# tflite-runtime

# numpy>=1.16.0               # Installing NumPy, the fundamental package for array computing with Python.
numpy==1.16.2                 # Installing NumPy, a package for scientific computing

Pillow<10.0.0			# Installing Pillow, a Python Image Library
OpenCV-Python                 # Installing OpenCV, the Open source Computer Vision library
# tflite-runtime==2.5.0.post1 # Installing Tensorflow Lite

# last line empty