#! Python3.7


# --extra-index-url https://jllllll.github.io/llama-cpp-python-cuBLAS-wheels/basic/cu120/
# --extra-index-url https://jllllll.github.io/llama-cpp-python-cuBLAS-wheels/AVX/cu120/
# --extra-index-url https://jllllll.github.io/llama-cpp-python-cuBLAS-wheels/AVX512/cu120/
--extra-index-url https://jllllll.github.io/llama-cpp-python-cuBLAS-wheels/AVX2/cu120/
--prefer-binary
llama-cpp-python    # Installing simple Python bindings for the llama.cpp library

# last line empty