#! Python3.7

huggingface_hub     # Installing the huggingface hub

diskcache>=5.6.1    # Installing disckcache for Disk and file backed persistent cache
numpy>=1.20.0       # Installing NumPy, a package for scientific computing

# # extra index could be: /basic, /AVX, /AVX2, or /AVX512
# --extra-index-url https://jllllll.github.io/llama-cpp-python-cuBLAS-wheels/AVX2/cu120/
# --prefer-binary
# llama-cpp-python    # Installing simple Python bindings for the llama.cpp library

# get the wheel from the GitHub release page, not PyPI
--only-binary
--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu120/
llama-cpp-python     # Installing simple Python bindings for the llama.cpp library

# last line empty