#! Python3.9

# PaddlePaddle is painful to install.

# On Ubuntu 22.04:

# PaddlePaddle 2.3.2 needs libgomp1 installed
# ERROR undefined symbol: _dl_sym, version GLIBC_PRIVATE error
#--find-links https://www.paddlepaddle.org.cn/whl/linux/gpu/develop.html
#paddlepaddle-gpu==2.3.2.post116 # Installing PaddelPaddle, the R and D deep learning platform

#-i https://mirror.baidu.com/pypi/simple
#-f https://paddlepaddle.org.cn/whl/stable/noavx.html
# ERROR `Segmentation fault` is detected by the operating system.
# This is due to a numpy bug: # https://github.com/numpy/numpy/issues/12497
# This issue is fixed in some situations (Windows, Windows GPU, Linux non-GPU) 
# but not Ubuntu 22.04 with CUDA 11.6
#paddlepaddle-gpu==2.4.0rc0      # Installing PaddelPaddle, the R and D deep learning platform
#paddleocr==2.6.0.1              # Installing PaddleOCR, the OCR toolkit based on PaddlePaddle

# ERROR libpython3.8.so.1.0: cannot open shared object file: No such file or directory
#paddlepaddle-gpu==2.4.0         # Installing PaddelPaddle, the R and D deep learning platform
#paddleocr==2.6.0.1              # Installing PaddleOCR, the OCR toolkit based on PaddlePaddle

# This too fails:
# ERROR Can not import paddle core while this file exists:  libpaddle.so
-f https://paddlepaddle.org.cn/whl/stable/noavx.html
paddlepaddle-gpu==2.4.0         # Installing PaddelPaddle, the R and D deep learning platform
paddleocr==2.6.0.1              # Installing PaddleOCR, the OCR toolkit based on PaddlePaddle

# Do these after paddlepaddle because paddlepaddle requires specific versions 
imutils                         # Installing imutils, the image utilities library
Pillow<10.0.0                   # Installing Pillow, a Python Image Library
opencv-python                   # Installing OpenCV, the Computer Vision library for Python
numpy==1.23.3                   # Installing NumPy, a package for scientific computing

# end of file