#! Python3.7

# this is to stop the error "paddlepaddle 2.5.1 requires protobuf<=3.20.2,>=3.1.0; 
# platform_system == "Windows", but you have protobuf 4.24.4 which is incompatible"
protobuf<=3.20.2,>=3.1.0        # Installing protobuf

paddlepaddle==2.5.1             # Installing PaddelPaddle, the Deep Learning platform
paddleocr                       # Installing PaddleOCR, the OCR toolkit based on PaddlePaddle

imutils                         # Installing imutils, the image utilities library
Pillow<10.0.0                   # Installing Pillow, a Python Image Library
opencv-python                   # Installing OpenCV, the Computer Vision library for Python
numpy                           # Installing NumPy, a package for scientific computing

# end of file