#! Python3.8

# These currently work on Apple Silicon
paddlepaddle==2.3.2             # Installing PaddelPaddle, the R and D deep learning platform
paddleocr==2.7.0.3              # Installing PaddleOCR, the OCR toolkit based on PaddlePaddle

opencv-python==4.5.5.64         # Installing OpenCV, the Computer Vision library for Python
numpy                           # Installing NumPy, a package for scientific computing
imutils                         # Installing imutils, the image utilities library
Pillow<10.0.0                   # Installing Pillow, a Python Image Library

# end of file