#! Python3.9

# Specific to macOS arm64
# -i https://pypi.tuna.tsinghua.edu.cn/simple  <- may be needed for paddlepaddle
paddlepaddle==2.3.2     # Installing PaddelPaddle, the R and D deep learning platform
paddleocr==2.6.0.1      # Installing PaddleOCR, the OCR toolkit based on PaddlePaddle

opencv-python==4.5.5.64  # Installing OpenCV, the Computer Vision library for Python

# We may need to rework this. See https://stackoverflow.com/a/66536896
numpy					# Installing NumPy, a package for scientific computing

# Do these after paddlepaddle because paddlepaddle requires specific versions 
imutils					# Installing imutils, the image utilities library
Pillow					# Installing Pillow, a Python Image Library

# end of file