#! Python3.9

# We'll specify the exact version because we have a patch for one of the files
# Note that this is a different version of PaddlePaddle than Windows uses
paddlepaddle==2.4.0rc0    # Installing PaddelPaddle, the Deep Learning platform

## We also need to specify the exact version for paddleocr in Linux because 
## v2.6.0.2 and 2.6.0.3 fail to build (lanms-neo fails to build, which is required)
paddleocr==2.6.0.1        # Installing PaddleOCR, the OCR toolkit based on PaddlePaddle

# Do these after paddlepaddle because paddlepaddle requires specific versions 
imutils                   # Installing imutils, the image utilities library
Pillow<10.0.0             # Installing Pillow, a Python Image Library

opencv-python>=4.6.0      # Installing OpenCV, the Computer Vision library for Python
numpy==1.23.3             # Installing NumPy, a package for scientific computing

# end of file