<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TestDataFolder" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="TestDataFilesComponentGroup">
            <Component Id="cmpAC7D2589C34EA8557DEF076E5678DF60" Directory="TestDataFolder" Guid="*">
                <File Id="fil0646875268C063BC64A65D7095E78B86" KeyPath="yes" Source="$(var.TestDataHarvestPath)\adele.jpg" />
            </Component>
            <Component Id="cmp776351C0FB714E88E186D7D549B3BE8A" Directory="TestDataFolder" Guid="*">
                <File Id="filDF475BA4CAA01343A3599103A3E63F0B" KeyPath="yes" Source="$(var.TestDataHarvestPath)\bradley.jpg" />
            </Component>
            <Component Id="cmpE1634A0150949E7CB2402998C36AF8DF" Directory="TestDataFolder" Guid="*">
                <File Id="fil87D44BD87BB147A5C2FE08D5807F8902" KeyPath="yes" Source="$(var.TestDataHarvestPath)\cruise.jpg" />
            </Component>
            <Component Id="cmp57AC7B05C9558A27B64F4C96A611CEF5" Directory="TestDataFolder" Guid="*">
                <File Id="fil9CDBE98972D108E4126104D148F0D676" KeyPath="yes" Source="$(var.TestDataHarvestPath)\elba.jpg" />
            </Component>
            <Component Id="cmp2B52BE1D36E0631DEAF30D317CCD6A6B" Directory="TestDataFolder" Guid="*">
                <File Id="fil50F4AE3681733157A6DF1F1AFB180984" KeyPath="yes" Source="$(var.TestDataHarvestPath)\perri.jpg" />
            </Component>
            <Component Id="cmp987CAF073F47FF3366EEF6926751994E" Directory="TestDataFolder" Guid="*">
                <File Id="fil930DDAA40DF39F82582F7470E850F741" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-antonio-sokic-3839427.jpg" />
            </Component>
            <Component Id="cmpD50CCEF6AC15E7116F41225413753849" Directory="TestDataFolder" Guid="*">
                <File Id="fil4CA2EF0074F1DCEC08A9C5C8C01E5AE1" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-asad-photo-maldives-1591373.jpg" />
            </Component>
            <Component Id="cmp8B952C3ACFC21F10405EE2E3A9B1D869" Directory="TestDataFolder" Guid="*">
                <File Id="fil80BF5393958C341D09B8F44231438390" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-cottonbro-7523256.jpg" />
            </Component>
            <Component Id="cmp7BAD1742CEC4C126ED05C0404057C09A" Directory="TestDataFolder" Guid="*">
                <File Id="fil8DC7B1A83DDFCBCDD75E4346262D03EC" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-cottonbro-8467934.jpg" />
            </Component>
            <Component Id="cmpA99FAD8B2378A36A41E70293E6194B48" Directory="TestDataFolder" Guid="*">
                <File Id="filC0DD41044B25DE599A3A9DADB8488442" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-cottonbro-8683441.jpg" />
            </Component>
            <Component Id="cmp43720A0FE95AB318ADD8BAC6507F38F9" Directory="TestDataFolder" Guid="*">
                <File Id="filED14E66FB4C88932B684892298AD215D" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-fox-1595385.jpg" />
            </Component>
            <Component Id="cmp637835ECCCAFCB2F09EF78526B7FECE7" Directory="TestDataFolder" Guid="*">
                <File Id="fil7A639F970C81459AF97B7D59E40FA767" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-freestocksorg-839462.jpg" />
            </Component>
            <Component Id="cmp74F5C3685FE352C298346F7B6695186F" Directory="TestDataFolder" Guid="*">
                <File Id="fil8F61BE8E1CC2F79F1FEB36A09239F2D7" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-huseyn-kamaladdin-667838.jpg" />
            </Component>
            <Component Id="cmpBA634574053021C1A10546465F701BAD" Directory="TestDataFolder" Guid="*">
                <File Id="fil4882F49E8E67E3F34371AF8AEAEF690D" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-jacob-colvin-1757363.jpg" />
            </Component>
            <Component Id="cmp5FA7F4EA264C3FAA39531904B4B3FC49" Directory="TestDataFolder" Guid="*">
                <File Id="fil2F1F0DE08E2F0679BE75F60BFA25C244" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-jaime-reimer-2662116.jpg" />
            </Component>
            <Component Id="cmp0171B763D1A39055DF2A44D5FB5D309B" Directory="TestDataFolder" Guid="*">
                <File Id="fil4334E15D0DE2DF66018708155ACAF6EE" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-jean-van-der-meulen-1599791.jpg" />
            </Component>
            <Component Id="cmp25967C3DC4BC045C87CA0220FC9D3BE1" Directory="TestDataFolder" Guid="*">
                <File Id="fil7A988DCBA9CADEB2F0FAB974482A11F2" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-jimmy-chan-3159622 (1).jpg" />
            </Component>
            <Component Id="cmp4FDE499AA5F9C84ECC950C221634E07B" Directory="TestDataFolder" Guid="*">
                <File Id="filC942860315B374B7864E5122717DEA26" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-jonathan-borba-2917382.jpg" />
            </Component>
            <Component Id="cmp8D90BEC42E1D70D80280273CD890C240" Directory="TestDataFolder" Guid="*">
                <File Id="filAD922C4968A195CF231CDBE913443F93" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-maria-orlova-4947381.jpg" />
            </Component>
            <Component Id="cmp2F13EF71C7934E4D00896F7837A3F230" Directory="TestDataFolder" Guid="*">
                <File Id="fil687F915F717D18BD1AFB25F5FDC1504C" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-ngrh-mei-5975635.jpg" />
            </Component>
            <Component Id="cmpAE902A706F6E96702F88CE3ADE47CCB0" Directory="TestDataFolder" Guid="*">
                <File Id="filF2E9264A1653DF44F93CA42FA6849CA9" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-pixabay-210186.jpg" />
            </Component>
            <Component Id="cmpA52C4ECE9E5C2A1C3C68869CBCE5D16D" Directory="TestDataFolder" Guid="*">
                <File Id="filDD3FCC4F2B710C21DB6E1E180C8CDCE0" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-pixabay-273935.jpg" />
            </Component>
            <Component Id="cmp9EA463FF0D7B9D6A0AAFAE0747B9CDA3" Directory="TestDataFolder" Guid="*">
                <File Id="fil0FD202396FFE72F56B1C40F7E4619469" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-polina-tankilevitch-5848781.jpg" />
            </Component>
            <Component Id="cmp4C62AA85A48BAC715882AE2A634BAAEA" Directory="TestDataFolder" Guid="*">
                <File Id="fil497D67B28D7DB20239959A7C6B5D4EE3" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-roberto-nickson-2559941.jpg" />
            </Component>
            <Component Id="cmp87979C3623EFF06F9CE5C10E14D6E8DE" Directory="TestDataFolder" Guid="*">
                <File Id="filEE24C8E240F293CFF5815A6CA7709C77" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-thirdman-7268587 (1).jpg" />
            </Component>
            <Component Id="cmpADB20E7EAEF1662083DA5B8111BEA4C1" Directory="TestDataFolder" Guid="*">
                <File Id="fil15425E69C793631518CEB1E596E58A50" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-thirdman-7652055.jpg" />
            </Component>
            <Component Id="cmp590F378C7BB7CE6B1D0E322918F63C1C" Directory="TestDataFolder" Guid="*">
                <File Id="fil496E8D981E9175F83BDC9E5221AD0237" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-tiger-lily-4480988.jpg" />
            </Component>
            <Component Id="cmp0B9DE944E61B98488FB1008B67F13451" Directory="TestDataFolder" Guid="*">
                <File Id="filF5D11B5F1F2FBDCCE74DD9DAF7A92F36" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-tiger-lily-4481324.jpg" />
            </Component>
            <Component Id="cmp0A6B0BDC2442E58602A683E4A794F08F" Directory="TestDataFolder" Guid="*">
                <File Id="filC6C22C4EB57650802C8D639644B71001" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-tima-miroshnichenko-6694964.jpg" />
            </Component>
            <Component Id="cmpAF36A6390EDEFE2D006CD56A61CDB76D" Directory="TestDataFolder" Guid="*">
                <File Id="filB18312AF08C5B72CAD477E63DEF4EF9B" KeyPath="yes" Source="$(var.TestDataHarvestPath)\pexels-victoria-borodinova-1648396.jpg" />
            </Component>
            <Component Id="cmp61F1BEC489A364C9D6A0FB2615A4263D" Directory="TestDataFolder" Guid="*">
                <File Id="filF4215DE17A6AA99CCF288BAE633857E8" KeyPath="yes" Source="$(var.TestDataHarvestPath)\Robert1.PNG" />
            </Component>
            <Component Id="cmp65C5809478EEF68E286B4A96A51CABD9" Directory="TestDataFolder" Guid="*">
                <File Id="fil61EF9F3DF9704AFBAB0977D61F6B2906" KeyPath="yes" Source="$(var.TestDataHarvestPath)\Robert2.PNG" />
            </Component>
            <Component Id="cmp156C29B8284E09C18EF394AE8E0E1088" Directory="TestDataFolder" Guid="*">
                <File Id="fil45BAF31129163E0EBCA5046A23A4C24C" KeyPath="yes" Source="$(var.TestDataHarvestPath)\Robert3.PNG" />
            </Component>
            <Component Id="cmpBE9CAEF2F1F6106E2C2717DAB7CB3E58" Directory="TestDataFolder" Guid="*">
                <File Id="filE6EADFE0C7F583E2F9FA00BED24DBF92" KeyPath="yes" Source="$(var.TestDataHarvestPath)\Robert4.PNG" />
            </Component>
            <Component Id="cmpBFCF4DF43E8F5D23241527EE46150977" Directory="TestDataFolder" Guid="*">
                <File Id="fil2F92571238397F0CFC32ACF299E87E33" KeyPath="yes" Source="$(var.TestDataHarvestPath)\Robert5.PNG" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>