<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="ServerInstallFolder">
            <Directory Id="dirB9CC55BA1200054F12A954C2A12BF774" Name="runtimes" />
            <Directory Id="dir04F97EE04AE3A2707DD5BA1234DEBB1A" Name="wwwroot" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="FrontendFilesComponentGroup">
            <Component Id="cmp5526851F2695E548F6ABC248BA46E033" Directory="ServerInstallFolder" Guid="*">
                <File Id="fil1A943FF0A6351867F7A96E35858FB383" KeyPath="yes" Source="$(var.Frontend.TargetDir)\appsettings.Development.json" />
            </Component>
            <Component Id="cmp69C45A741EAB1582E566229DDF93476F" Directory="ServerInstallFolder" Guid="*">
                <File Id="fil3EC851D7362C1A2ECB38F11D30A9EC75" KeyPath="yes" Source="$(var.Frontend.TargetDir)\appsettings.docker.development.json" />
            </Component>
            <Component Id="cmp08B6D138138C7333B3625D7D23C65A68" Directory="ServerInstallFolder" Guid="*">
                <File Id="filC28EB0C113FA9251C0CC7EA1C9B7258F" KeyPath="yes" Source="$(var.Frontend.TargetDir)\appsettings.docker.json" />
            </Component>
            <Component Id="cmpD26247E055C8B02B41E868797D0BE000" Directory="ServerInstallFolder" Guid="*">
                <File Id="fil2EB6F75FA67A12804B3368D153D64890" KeyPath="yes" Source="$(var.Frontend.TargetDir)\appsettings.json" />
            </Component>
            <Component Id="cmp2FEDF1B4C128E8872B842E47A4B2A36F" Directory="ServerInstallFolder" Guid="*">
                <File Id="fil79015BAE02CAAA947F8DDB7317F9DCBD" KeyPath="yes" Source="$(var.Frontend.TargetDir)\appsettings.linux.development.json" />
            </Component>
            <Component Id="cmp5010CE224FD92561A8D860B29AB17264" Directory="ServerInstallFolder" Guid="*">
                <File Id="fil9C12D85A13B4AF398C5F956B1888EF40" KeyPath="yes" Source="$(var.Frontend.TargetDir)\appsettings.linux.json" />
            </Component>
            <Component Id="cmp65C42F8EF56FE212F20F6FA923D7733B" Directory="ServerInstallFolder" Guid="*">
                <File Id="fil688B6CD6A8DF24A48B3A6DFB3E72EC45" KeyPath="yes" Source="$(var.Frontend.TargetDir)\appsettings.macos.development.json" />
            </Component>
            <Component Id="cmp3BF7ABBD11328F22C3845465EC9415CA" Directory="ServerInstallFolder" Guid="*">
                <File Id="fil13F0F64E0AA5D492C7AE2DBDF52E7169" KeyPath="yes" Source="$(var.Frontend.TargetDir)\appsettings.macos.json" />
            </Component>
            <Component Id="cmp0885392D5C556D71A9AE9EF00F8C4AB8" Directory="ServerInstallFolder" Guid="*">
                <File Id="fil0E5CFBC43A60CE27996E361A29779C0E" KeyPath="yes" Source="$(var.Frontend.TargetDir)\CodeProject.SenseAI.AnalysisLayer.SDK.dll" />
            </Component>
            <Component Id="cmp3441A126072CFF667ECC16F97F153DB5" Directory="ServerInstallFolder" Guid="*">
                <File Id="filB279FD4F8BB2367E60D7C2D4F3709406" KeyPath="yes" Source="$(var.Frontend.TargetDir)\CodeProject.SenseAI.AnalysisLayer.SDK.pdb" />
            </Component>
            <Component Id="cmpE545F741BE3B487A478C1A996B64F40D" Directory="ServerInstallFolder" Guid="*">
                <File Id="fil283AF21F44380E39996263F4BD0824C3" KeyPath="yes" Source="$(var.Frontend.TargetDir)\CodeProject.SenseAI.API.Common.dll" />
            </Component>
            <Component Id="cmpFF621A95B0B69470CB65FDB72D336A2D" Directory="ServerInstallFolder" Guid="*">
                <File Id="filD0A0D170A9111C3F11E431C70C895CAA" KeyPath="yes" Source="$(var.Frontend.TargetDir)\CodeProject.SenseAI.Server.Backend.dll" />
            </Component>
            <Component Id="cmpFF9EB199D714E89AE4F72D275473D8C0" Directory="ServerInstallFolder" Guid="*">
                <File Id="filDDB6DCAD7E5BE2F79351096ABB1B1F60" KeyPath="yes" Source="$(var.Frontend.TargetDir)\CodeProject.SenseAI.Server.deps.json" />
            </Component>
            <Component Id="cmpF4E7B6CD99CDA01A9F5703F990F3291D" Directory="ServerInstallFolder" Guid="*">
                <File Id="filA595562C28F0E2CC49B1E26A79D48D4E" KeyPath="yes" Source="$(var.Frontend.TargetDir)\CodeProject.SenseAI.Server.dll" />
            </Component>
            <Component Id="cmp365A06C2A501906BA97964ABA97E123B" Directory="ServerInstallFolder" Guid="*">
                <File Id="fil2A98C68E11D20CC9F880402B9CBFF354" KeyPath="yes" Source="$(var.Frontend.TargetDir)\CodeProject.SenseAI.Server.exe" />
            </Component>
            <Component Id="cmp2091EE874B0F2A3AD7E2C67589E02D6A" Directory="ServerInstallFolder" Guid="*">
                <File Id="fil623F7265BC0542ACEF5F6E55840839E1" KeyPath="yes" Source="$(var.Frontend.TargetDir)\CodeProject.SenseAI.Server.runtimeconfig.json" />
            </Component>
            <Component Id="cmpA9F54E2C269D6D4F24306F4F240E2562" Directory="ServerInstallFolder" Guid="*">
                <File Id="fil35F5DEBF10E7F0AE40374C273691F870" KeyPath="yes" Source="$(var.Frontend.TargetDir)\CodeProject.SenseAI.Server.staticwebassets.runtime.json" />
            </Component>
            <Component Id="cmp417EAD4004AFC74A3C6A04E164918A03" Directory="ServerInstallFolder" Guid="*">
                <File Id="fil45A95B67C8027817E42875FCBB8F18F7" KeyPath="yes" Source="$(var.Frontend.TargetDir)\CodeProject.SenseAI.Server.xml" />
            </Component>
            <Component Id="cmp38F5B7DE22378E110FD1B69F8F386EAC" Directory="ServerInstallFolder" Guid="*">
                <File Id="fil7B2FB8DAB23ABEB90618F9049FC0382D" KeyPath="yes" Source="$(var.Frontend.TargetDir)\Microsoft.Extensions.Hosting.Systemd.dll" />
            </Component>
            <Component Id="cmpD9CB63B671720A10384B553B80DC7A32" Directory="ServerInstallFolder" Guid="*">
                <File Id="filB3BDDA79B7826A70D7973B3C92F1CE8D" KeyPath="yes" Source="$(var.Frontend.TargetDir)\Microsoft.Extensions.Hosting.WindowsServices.dll" />
            </Component>
            <Component Id="cmp5C00F8BDBA875D8EFF06A49542B239B6" Directory="ServerInstallFolder" Guid="*">
                <File Id="fil6F9A9A5A07993739ADE267985C1CB13A" KeyPath="yes" Source="$(var.Frontend.TargetDir)\Microsoft.OpenApi.dll" />
            </Component>
            <Component Id="cmpF9521D9DB15FF71595AA5A12436D4F08" Directory="ServerInstallFolder" Guid="*">
                <File Id="filEF230D20A3E8DFC46C5A02C3222407C7" KeyPath="yes" Source="$(var.Frontend.TargetDir)\Swashbuckle.AspNetCore.Swagger.dll" />
            </Component>
            <Component Id="cmp25A5A31378B0ED19FEF670873804A8A7" Directory="ServerInstallFolder" Guid="*">
                <File Id="fil0510E71902D6977B2B07BC3FF8A8449F" KeyPath="yes" Source="$(var.Frontend.TargetDir)\Swashbuckle.AspNetCore.SwaggerGen.dll" />
            </Component>
            <Component Id="cmp5FEC9726FE5D329F8BB03DA47B9B0E11" Directory="ServerInstallFolder" Guid="*">
                <File Id="fil8BEE8CA252B57416874B26DCBFE4318A" KeyPath="yes" Source="$(var.Frontend.TargetDir)\Swashbuckle.AspNetCore.SwaggerUI.dll" />
            </Component>
            <Component Id="cmpBFCEF50372EDA428BC75380F7C54DA67" Directory="ServerInstallFolder" Guid="*">
                <File Id="fil92DF2F54069EF1C539D1F45AF62B6982" KeyPath="yes" Source="$(var.Frontend.TargetDir)\System.ServiceProcess.ServiceController.dll" />
            </Component>
            <Component Id="cmpC6092D928A544D02A20D077BAD1016F4" Directory="ServerInstallFolder" Guid="*">
                <File Id="filC3737BAE14A3D18E2C62F989015BB2EB" KeyPath="yes" Source="$(var.Frontend.TargetDir)\System.Text.Json.dll" />
            </Component>
            <Component Id="cmp984B36F4512887BFB19046FD9C28B00D" Directory="ServerInstallFolder" Guid="*">
                <File Id="filDA7E8C6BE9AF85F2BE9D9299ED791666" KeyPath="yes" Source="$(var.Frontend.TargetDir)\version.json" />
            </Component>
            <Component Id="cmp5569A324BC7DB3907E6466D32850FFC4" Directory="dir247E3913CFBA78AFC18B815AA02FF95C" Guid="*">
                <File Id="fil41A75D39D56654A242ADF09444E6CA51" KeyPath="yes" Source="$(var.Frontend.TargetDir)\runtimes\win\lib\net6.0\System.ServiceProcess.ServiceController.dll" />
            </Component>
            <Component Id="cmpB796F046A2ED7FF521158C14BF50FF84" Directory="dir04F97EE04AE3A2707DD5BA1234DEBB1A" Guid="*">
                <File Id="fil4EB9F993856281C04E7EB68D403A3AD6" KeyPath="yes" Source="$(var.Frontend.TargetDir)\wwwroot\index.html" />
            </Component>
            <Component Id="cmp6B053DF0E1912537AA14852BAD6DDDC6" Directory="dir04F97EE04AE3A2707DD5BA1234DEBB1A" Guid="*">
                <File Id="filB8153E58DE1E1731CEF4721F69FBA9C3" KeyPath="yes" Source="$(var.Frontend.TargetDir)\wwwroot\testdata.zip" />
            </Component>
            <Component Id="cmpC85CDE9FA3FF0CC5B114472CBC60484F" Directory="dir04F97EE04AE3A2707DD5BA1234DEBB1A" Guid="*">
                <File Id="filCB8F5CDF835B88E6099F611E03C1DD25" KeyPath="yes" Source="$(var.Frontend.TargetDir)\wwwroot\vision.html" />
            </Component>
            <Component Id="cmpAF557327D03A2F4B8B3A305F6BB94B23" Directory="dirB77721C42B3E60B4E319181AAFD28D2C" Guid="*">
                <File Id="fil4725FA1931EBBE0798F7B9F38236B228" KeyPath="yes" Source="$(var.Frontend.TargetDir)\wwwroot\assets\apexcharts.css" />
            </Component>
            <Component Id="cmpE7409D65AD42BE052CB93BC18B63BE5E" Directory="dirB77721C42B3E60B4E319181AAFD28D2C" Guid="*">
                <File Id="fil88D8EA27D1F5733D633B936BE454A92A" KeyPath="yes" Source="$(var.Frontend.TargetDir)\wwwroot\assets\apexcharts.min.js" />
            </Component>
            <Component Id="cmpEEED8A7345D1CF78D5B213AA9C1F0E77" Directory="dirB77721C42B3E60B4E319181AAFD28D2C" Guid="*">
                <File Id="filFE74CDED24212C8E6941EE15F64978BE" KeyPath="yes" Source="$(var.Frontend.TargetDir)\wwwroot\assets\bootstrap.bundle.min.js" />
            </Component>
            <Component Id="cmpCEB0C7426930173CFC39A59B9559F860" Directory="dirB77721C42B3E60B4E319181AAFD28D2C" Guid="*">
                <File Id="fil7F6D12815C5985E84D9A60201747D12E" KeyPath="yes" Source="$(var.Frontend.TargetDir)\wwwroot\assets\bootstrap.min.css" />
            </Component>
            <Component Id="cmpF4253BBF0CB0185DD13161C24D419576" Directory="dirB77721C42B3E60B4E319181AAFD28D2C" Guid="*">
                <File Id="filF4AED119800CE02212CC4A9C3FB4AD3F" KeyPath="yes" Source="$(var.Frontend.TargetDir)\wwwroot\assets\codeproject60x60.png" />
            </Component>
            <Component Id="cmp02DA021F38DA8D0AA254BDB36883ED1E" Directory="dirB77721C42B3E60B4E319181AAFD28D2C" Guid="*">
                <File Id="fil304C3CC7EA982615CCCF66A46FE09BD1" KeyPath="yes" Source="$(var.Frontend.TargetDir)\wwwroot\assets\favicon-16x16.png" />
            </Component>
            <Component Id="cmp2B45CA520448639E2A209F5FADC6E0AC" Directory="dirB77721C42B3E60B4E319181AAFD28D2C" Guid="*">
                <File Id="fil1968AC9D98A8FE8817E82A7A1868FC11" KeyPath="yes" Source="$(var.Frontend.TargetDir)\wwwroot\assets\favicon-32x32.png" />
            </Component>
            <Component Id="cmp1E6D38B0D6BDA2A87103984677ABA8A0" Directory="dirB77721C42B3E60B4E319181AAFD28D2C" Guid="*">
                <File Id="fil96BC8569D2EA8CCA203D2B654CE4C3C1" KeyPath="yes" Source="$(var.Frontend.TargetDir)\wwwroot\assets\logo135-bg.gif" />
            </Component>
            <Component Id="cmpE006F52B5D3A1C4C61EF5E33E1763F12" Directory="dirB77721C42B3E60B4E319181AAFD28D2C" Guid="*">
                <File Id="fil1AF4ADB3015F452A28F3FE9EF858A137" KeyPath="yes" Source="$(var.Frontend.TargetDir)\wwwroot\assets\logo250x135.gif" />
            </Component>
            <Component Id="cmpBF225F4CD3E7CE4AB6FFE88155D171FC" Directory="dirB77721C42B3E60B4E319181AAFD28D2C" Guid="*">
                <File Id="fil5411FE38DBCB928CA8D658351D20BC06" KeyPath="yes" Source="$(var.Frontend.TargetDir)\wwwroot\assets\styles.css" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir2963589D3C2C182ACEFA7D6A1ECB98FF">
            <Directory Id="dir247E3913CFBA78AFC18B815AA02FF95C" Name="net6.0" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir49D5A84485AC33DCB0B441EB104CAA92">
            <Directory Id="dir2963589D3C2C182ACEFA7D6A1ECB98FF" Name="lib" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirB9CC55BA1200054F12A954C2A12BF774">
            <Directory Id="dir49D5A84485AC33DCB0B441EB104CAA92" Name="win" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir04F97EE04AE3A2707DD5BA1234DEBB1A">
            <Directory Id="dirB77721C42B3E60B4E319181AAFD28D2C" Name="assets" />
        </DirectoryRef>
    </Fragment>
</Wix>