<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	
	<Product Id="b76cb0a3-05bf-40ba-b490-0c9c8441297e" 
			 Name="CodeProject SenseAI Server" 
			 Language="1033" 
			 Version="1.0.0.0" 
			 Manufacturer="CodeProject" 
			 UpgradeCode="4193a0f0-85ff-42ac-a2a8-c644569e214d">

		<Package InstallerVersion="200" 
				 Compressed="yes" 
				 InstallScope="perMachine" />

		
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<MediaTemplate EmbedCab="yes" />
		<?include ..\SharedUIConfiguration.wxi ?>

		<Feature Id="ServerFeature" Title="SenseAI Server" Level="1">
			<ComponentGroupRef Id="FrontendFilesComponentGroup"/>
			<ComponentGroupRef Id="TestDataFilesComponentGroup"/>
			
			<Component Id="cmpStartMenuShortcuts" 
					   Guid="22ba67a0-de8d-45dc-abb1-ac07a0919106"
					   Directory="CODEPROJECTSENSEAISTARTMENUFOLDER">

				<util:InternetShortcut Id="MenuLaunchDashboardShortcut"
						Name="SenseAI Dashboard"
						IconFile="[#filFavicon]"
						Type="url"
						Target="Http://localhost:5000"/>

				<util:InternetShortcut Id="MenuLaunchVisionShortcut"
						Name="SenseAI Demo"
						IconFile="[#filFavicon]"
						Type="url"
						Target="Http://localhost:5000/Vision.html"/>

				<RemoveFolder Id="RemoveMenuShortcuts" Directory="CODEPROJECTSENSEAISTARTMENUFOLDER" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\CodeProject\SenseAI\Server" Name="MenuInstalled" Type="integer" Value="1" KeyPath="yes" />
			</Component>

			<Component Id="cmpDesktopShortcuts"
					   Guid="2d7955fa-5dc3-4afc-be09-49033d1f4693"
					   Directory="DesktopFolder">

				<util:InternetShortcut Id="DesktopLaunchDashboardShortcut"
						Name="SenseAI Dashboard"
						IconFile="[#filFavicon]"
						Type="url"
						Target="Http://localhost:5000"/>

				<RegistryValue Root="HKCU" Key="Software\CodeProject\SenseAI\Server" Name="DesktopInstalled" Type="integer" Value="1" KeyPath="yes" />
			</Component>

			<ComponentGroupRef Id="ServiceCmpGroup"/>
			
		</Feature>


	</Product>
	
	<?include ..\SharedDirectories.wxi?>

	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramMenuFolder">
				<Directory Id="CODEPROJECTSENSEAISTARTMENUFOLDER" Name="CodeProject SenseAI" />
			</Directory>
		</DirectoryRef>
		
		<ComponentGroup Id="ServiceCmpGroup" Directory="SERVERINSTALLFOLDER">
			<Component Id="cmpFavicon" Guid="35c72121-271f-40bc-8994-c07587b9f4f3">
				<File Id="filFavicon" KeyPath="yes" Source="..\favicon.ico" />
			</Component>
			<Component Id="CMP_WindowsService" Guid="3dbc7bc3-d073-4379-bc80-4699462c052f">
				<File Id="FILE_Server.exe" 
					  KeyPath="yes" 
					  Name="Server.exe"
					  Source="$(var.Frontend.TargetDir)\CodeProject.SenseAI.Server.exe" />
				
				<ServiceInstall Id="InstallWindowsService"
								Name="SenseAiServer"
								DisplayName="CodeProject SenseAI Server"
								Description="CodeProject Server for easy AI."
								Start="auto"
								ErrorControl="normal"
								Type="ownProcess" 
								Arguments="--Port 5000"
								Vital="yes"/>

				<ServiceControl Id="SC_WindowsService"
								Name="SenseAiServer"
								Start="install"
								Stop="both"
								Remove="uninstall"
								Wait="yes" />
	
			</Component>
			
		</ComponentGroup>
					  
	</Fragment>

</Wix>
