#! Python3.8

# urllib3<1.27,>=1.25.4   # Installing urllib3, the HTTP client for Python

# Pandas                        # Installing Pandas, a data analysis / data manipulation tool
# CoreMLTools                   # Installing CoreMLTools, for working with .mlmodel format models
# OpenCV-Python                 # Installing OpenCV, the Open source Computer Vision library
# Pillow<10.0.0                 # Installing Pillow, a Python Image Library
# SciPy                         # Installing SciPy, a library for mathematics, science, and engineering
# PyYAML                        # Installing PyYAML, a library for reading configuration files

# PyTorch-DirectML not working for this module
# torch-directml                # Installing the PyTorch DirectML plugin

# CPU specific Torch 1.13.0. Size ~830Mb
--extra-index-url https://download.pytorch.org/whl/cpu
torch==1.13.0+cpu               # Installing PyTorch, for Tensor computation and Deep neural networks
--extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.14.0+cpu         # Installing TorchVision, for Computer Vision based AI

# as per https://pytorch.org/get-started/locally/, this should install CPU versions
# (currently 2.0.1 on python 3.8+, 1.13.1 on Python 3.7). ~1.3GB for CPU, ~3.9GB for GPU
# torch                         # Installing PyTorch, for Tensor computation and Deep neural networks
# torchvision                   # Installing TorchVision, for Computer Vision based AI

# This requires torch 1.13. Unfortunately we can't get this working.
# torch-directml                # Installing the PyTorch DirectML plugin

# Specific version because we have a patch
ultralytics==8.1.2              # Installing Ultralytics package for object detection in images

# We need this, but we don't need this.
# Seaborn                       # Installing Seaborn, a data visualization library based on matplotlib

# last line empty.