#! Python3.8

# CUDA requirements for Linux with CUDA 11.7+ installed

# Pandas                        # Installing Pandas, a data analysis / data manipulation tool
# CoreMLTools                   # Installing CoreMLTools, for working with .mlmodel format models
# OpenCV-Python                 # Installing OpenCV, the Open source Computer Vision library
# Pillow<10.0.0                 # Installing Pillow, a Python Image Library
# SciPy                         # Installing SciPy, a library for mathematics, science, and engineering
# PyYAML                        # Installing PyYAML, a library for reading configuration files

## For CUDA 11.7 (NOT torch 2.0+)
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.0+cu117             # Installing PyTorch, an open source machine learning framework
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.14.0+cu117       # Installing TorchVision, for working with computer vision models

# Specific version because we have a patch
ultralytics==8.1.2              # Installing Ultralytics package for object detection in images

# We need this, but we don't need this.
# Seaborn                       # Installing Seaborn, a data visualization library based on matplotlib

# last line empty..