#! Python3.7
# Requirements for Raspberry Pi (and related) (RPi is linux,Arm64, but no CUDA)

ultralytics                     # Installing Ultralytics package for object detection in images

# last line empty.