#! Python3.7
# Requirements for Raspberry Pi (and related) (RPi is linux,Arm64, but no CUDA)

Pandas                  # Installing Pandas, a data analysis / data manipulation tool
CoreMLTools             # Installing CoreMLTools, for working with .mlmodel format models
OpenCV-Python           # Installing OpenCV, the Open source Computer Vision library
Pillow<10.0.0           # Installing Pillow, a Python Image Library
SciPy                   # Installing SciPy, a library for mathematics, science, and engineering
PyYAML                  # Installing PyYAML, a library for reading configuration files

# Specific versions that match the models we're using. This requires <= Python 3.9. Any
# version of Torch higher than this can use Python 3.10
# Torch==1.10.2         # Installing Torch, for Tensor computation and Deep neural networks
# TorchVision==0.11.3   # Installing TorchVision, for Computer Vision based AI

# Annoyingly, we need to drop down a version. This means Python <= 3.8
# https://discuss.pytorch.org/t/failed-to-load-image-python-extension-could-not-find-module/140278/15
torch==1.9.0            # Installing Torch, for Tensor computation and Deep neural networks
torchvision==0.10.0     # Installing TorchVision, for Computer Vision based AI

# the Ultralytics Yolov5 package
yolov5==6.2.3           # Installing Ultralytics YoloV5 package for object detection in images

# We need this, but we don't need this.
Seaborn                 # Installing Seaborn, a data visualization library based on matplotlib

# last line empty.