<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="PythonSdkFolder">
            <Directory Id="dirE8FC779B3715DBA892A82B2C6885F304" Name="__pycache__" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PythonSdkFilesComponentGroup">
            <Component Id="cmpE25F4CA1478B83F6A73377FD60868FE3" Directory="PythonSdkFolder" Guid="*">
                <File Id="fil2B088655C1FC994F14392DF687F5AE2B" KeyPath="yes" Source="$(var.PythonSdkHarvestPath)\requirements.txt" />
            </Component>
            <Component Id="cmp56E17F094C6DEBE7EEDAFB10E032E609" Directory="PythonSdkFolder" Guid="*">
                <File Id="fil3E3E9D2B8447A1783D882F5C02AD54C3" KeyPath="yes" Source="$(var.PythonSdkHarvestPath)\senseAI.py" />
            </Component>
            <Component Id="cmp4A25F3E21282B39E4E4B6F41FFBCB416" Directory="dirE8FC779B3715DBA892A82B2C6885F304" Guid="*">
                <File Id="fil733E6D1C44A36DE2190E5D1FE73B0A4C" KeyPath="yes" Source="$(var.PythonSdkHarvestPath)\__pycache__\senseAI.cpython-37.pyc" />
            </Component>
            <Component Id="cmp2C498F83D81630C2342B7F70828CE9B7" Directory="dirE8FC779B3715DBA892A82B2C6885F304" Guid="*">
                <File Id="filFE92399605DC3B7075A1690D752B331D" KeyPath="yes" Source="$(var.PythonSdkHarvestPath)\__pycache__\senseAI.cpython-39.pyc" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>