<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include ..\SharedProperties.wxi ?>

	<Product Id="*"
			 Name="CodeProject SenseAI Portrait Filter Module"
			 Language="1033"
			 Version="$(var.BuildVersion)"
			 Manufacturer="CodeProject"
			 UpgradeCode="d7a86230-24f7-45aa-9c6e-30b28def8968">

		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<MediaTemplate EmbedCab="yes" />

		<Feature Id="PortraitFilterAIFeature" Title="Portrait Filter Module" Level="1">
			<ComponentGroupRef Id="PortraitFilterFilesComponentGroup" />
		</Feature>
	</Product>
	<?include ..\SharedDirectories.wxi ?>
</Wix>