<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TextSummaryInstallFolder">
            <Directory Id="dir409BD166539DDF5C84160358A475F075" Name="nltk_data" />
            <Directory Id="dirC3E6D955D4E088C2ECFC1CD73194099B" Name="__pycache__" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="TextSummaryFilesComponentGroup">
            <Component Id="cmp4B1D65ABB3D598CB9A09A63ABD218937" Directory="TextSummaryInstallFolder" Guid="*">
                <File Id="filBAC50F3AC35D8544F8DAFED64BE6B0FC" KeyPath="yes" Source="$(var.ModelsHarvestPath)\requirements.txt" />
            </Component>
            <Component Id="cmpB971475B88123A2D2405F0E0A30C1242" Directory="TextSummaryInstallFolder" Guid="*">
                <File Id="fil64490987FF8228C27CDA8D4F6FE46E6D" KeyPath="yes" Source="$(var.ModelsHarvestPath)\senseAI.py" />
            </Component>
            <Component Id="cmpB68B18A34CEC2686381BCC61CB76D5E2" Directory="TextSummaryInstallFolder" Guid="*">
                <File Id="fil9B1EA2B7765ECF0559BB15D1428EBCDC" KeyPath="yes" Source="$(var.ModelsHarvestPath)\summarize.py" />
            </Component>
            <Component Id="cmp4B34C7B42268F48413A9988876E1B1C6" Directory="TextSummaryInstallFolder" Guid="*">
                <File Id="filFB9245F8B8AB95655D87A24F0E5ED18B" KeyPath="yes" Source="$(var.ModelsHarvestPath)\textsummary.py" />
            </Component>
            <Component Id="cmpCA040E4A81537B8D0CBC7576CC7873A5" Directory="TextSummaryInstallFolder" Guid="*">
                <File Id="filF0CF669C56FABB990B2B5BCCB78B835F" KeyPath="yes" Source="$(var.ModelsHarvestPath)\TextSummary.pyproj" />
            </Component>
            <Component Id="cmpD56480B5F8FE0D9B0780BE870B7CC292" Directory="TextSummaryInstallFolder" Guid="*">
                <File Id="fil8BDA5C2EDB1F261458EB90A8713499E0" KeyPath="yes" Source="$(var.ModelsHarvestPath)\__init__.py" />
            </Component>
            <Component Id="cmp59D192D59D32DAF62E852BD9D5ACB313" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="filC2478F2A068BA3D1C481F0AC014CACF2" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\arabic" />
            </Component>
            <Component Id="cmpD89A9435C57D6FC0355E3DFD61BDA3F3" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="fil1DE35875666D18C8B56E7D3DD0AC9974" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\azerbaijani" />
            </Component>
            <Component Id="cmp5D0D237623E6F24F57570E7BFE6503E3" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="filF8E0D47E4B0A27B908AD687046C63B95" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\bengali" />
            </Component>
            <Component Id="cmp408B5386E7911C494245F060E8B06BE6" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="filD82CF274E6889C4737B557FFA3A0915D" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\danish" />
            </Component>
            <Component Id="cmpDEB311040FA8268CDB5FA87D3BA40416" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="filD189208729DCB691E3B87BE268660A9B" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\dutch" />
            </Component>
            <Component Id="cmpB5E71866504500E6DA5141868652327C" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="fil1B1D6DA1E91D4BFBEC22B6D0062FFCD6" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\english" />
            </Component>
            <Component Id="cmp09564EFB6E130337DBB1B78576D821E8" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="fil199F80F1B3C3B7EC1476CD17461EC00F" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\finnish" />
            </Component>
            <Component Id="cmp00C58534DF9D86E152C5C5BA57E8977A" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="fil8F7DD8510F80DE5EA646D7D146718C8D" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\french" />
            </Component>
            <Component Id="cmp8676340BFBD3756E6270F411CFCD239F" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="filD94F42E0D451E16E48D6C6D53FED940E" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\german" />
            </Component>
            <Component Id="cmp688C0592A0AB6CE71E502CBBA4BCA1E5" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="fil720F2AB7173D78AC81CBA7A47E6BD722" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\greek" />
            </Component>
            <Component Id="cmp690F023FB2F7CA0FB3CF7CDC80592B77" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="fil749981CCC86DEDE30ED9BA6B3DC0D217" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\hungarian" />
            </Component>
            <Component Id="cmp0CC4C2016828992EF183FEAAD1C6729E" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="fil9DA91C0E55FA04F393E50F1E02851C74" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\indonesian" />
            </Component>
            <Component Id="cmpC3B81531C6E75B83D3FD9AA9F136A9B2" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="fil11BF87466648FF8D5753951DFAE38802" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\italian" />
            </Component>
            <Component Id="cmpE2F1E62B97FA7672512AFFA77F4C6CB1" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="fil91C9B9198D45D2CF312E2E975CAEC431" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\kazakh" />
            </Component>
            <Component Id="cmp7D4A868F31739F018E55104F89648C7C" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="filF789686B8A72ED702BB6AB561581F1CB" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\nepali" />
            </Component>
            <Component Id="cmpA13410EA59CFC2FF9FC1A0D4EAE15F3D" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="filCC6D1E2B694470B28AE49E887E6987AE" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\norwegian" />
            </Component>
            <Component Id="cmpC7CCE780395C8522CE3173A2D63F058F" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="fil5D00DAC297F3DAF6CB4E042B82B106DD" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\portuguese" />
            </Component>
            <Component Id="cmpF8965902FDE1E85DDEB5B539EB5CD944" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="fil2F0A917EDD0A0E71D5D552D97B8F44B4" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\README" />
            </Component>
            <Component Id="cmp3C8A1AEDA7B32EC2BF97D31D1F5F9833" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="fil020177D54B810AF6139DA390F1683E03" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\romanian" />
            </Component>
            <Component Id="cmpFF999D9DB394BF8079CC199628AB3B7C" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="fil900ADB4BD3601B83CDE30FACBB6030FB" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\russian" />
            </Component>
            <Component Id="cmpFAF4C57FD87A863A308D8526E7696541" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="fil8D508948F7514CC873F5708EBD219061" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\slovene" />
            </Component>
            <Component Id="cmpBB5AEAD36E396263C13057DD4F99BB39" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="fil363FFABD4BCEF6A8E041BA9E51F9CAD1" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\spanish" />
            </Component>
            <Component Id="cmp1960CA71BE73D00B24F1A1DA0A41C308" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="fil6256AE77577FB445BD46F86E14EC9A40" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\swedish" />
            </Component>
            <Component Id="cmp5AE10C613877016788245BF97230D83E" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="fil9B01B942DF32A06B000080858D34829C" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\tajik" />
            </Component>
            <Component Id="cmp1EC8619A4E7AC5A60AA8819251ABAC24" Directory="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Guid="*">
                <File Id="fil80FFB1A220A5990A8761581F2A3B97E6" KeyPath="yes" Source="$(var.ModelsHarvestPath)\nltk_data\corpora\stopwords\turkish" />
            </Component>
            <Component Id="cmp345AD1472C9144A1AF961FC5A0B87C22" Directory="dirC3E6D955D4E088C2ECFC1CD73194099B" Guid="*">
                <File Id="filC2EFA3CBA2341A230FE2530B6D345CFA" KeyPath="yes" Source="$(var.ModelsHarvestPath)\__pycache__\senseAI.cpython-37.pyc" />
            </Component>
            <Component Id="cmp68474069130887ACBDC35F889AF5708C" Directory="dirC3E6D955D4E088C2ECFC1CD73194099B" Guid="*">
                <File Id="filC4D6C953767808DE8BB9FF7E179FE057" KeyPath="yes" Source="$(var.ModelsHarvestPath)\__pycache__\summarize.cpython-37.pyc" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF0CA8F7CA34143FBACBE9CB75D40D56D">
            <Directory Id="dirCF44EE2C0C5B97A36DDDBD06A7EA701B" Name="stopwords" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir409BD166539DDF5C84160358A475F075">
            <Directory Id="dirF0CA8F7CA34143FBACBE9CB75D40D56D" Name="corpora" />
        </DirectoryRef>
    </Fragment>
</Wix>