OpenCV-Python       # Installing OpenCV, the Open source Computer Vision library
Cython              # Installing the Cython compiler for C extensions for the Python language.
Pillow              # Installing Pillow, a Python Image Library
SciPy               # Installing SciPy, a library for mathematics, science, and engineering
PyYAML              # Installing PyYAML, a library for reading configuration files

tqdm                # Installing TDQM, the Fast, Extensible Progress Meter
Matplotlib          # Installing Matplotlib, the Python plotting package

https://files.pythonhosted.org/packages/45/9f/bcac9748e0cc21980d4f8718c37e47ce110ebb463812c1f88fa69cf02745/torch-1.8.0-cp38-cp38-manylinux2014_aarch64.whl # Installing PyTorch 1.8.0, for Tensor computation and Deep neural networks

# -f https://download.pytorch.org/whl/torch_stable.html
# torch==1.8.0      # Installing PyTorch, for Tensor computation and Deep neural networks

#-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.9.1  # Installing TorchVision, for Computer Vision based AI

# Last line empty