OpenCV-Python               # Installing OpenCV, the Open source Computer Vision library
Cython                      # Installing the Cython compiler for C extensions for the Python language.
Pillow<10.0.0               # Installing Pillow, a Python Image Library
SciPy                       # Installing SciPy, a library for mathematics, science, and engineering
PyYAML                      # Installing PyYAML, a library for reading configuration files

tqdm                        # Installing TDQM, the Fast, Extensible Progress Meter
Matplotlib                  # Installing Matplotlib, the Python plotting package

## For CUDA 12.1 (nightly)
#--pre
#--index-url https://download.pytorch.org/whl/nightly/cu121
#torch                      # Installing PyTorch, an open source machine learning framework#
#--pre
#--index-url https://download.pytorch.org/whl/nightly/cu121
# torchvision               # Installing TorchVision, for working with computer vision models

## For CUDA 11.7
# AttributeError: 'Upsample' object has no attribute 'recompute_scale_factor'
# https://github.com/ultralytics/yolov5/issues/6948
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.0+cu117         # Installing PyTorch, an open source machine learning framework
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.14.0+cu117   # Installing TorchVision, for working with computer vision models

# Last line empty