<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
	 xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	
	<?include ..\SharedProperties.wxi ?>	
	
	<Bundle Name="CodeProject SenseAI Server" 
			IconSourceFile="..\favicon.ico"
			Version="$(var.BuildVersion)"
			Manufacturer="CodeProject" 
			UpgradeCode="c04bbd0d-fd36-4fa4-805b-106bccd9bc79">

		<util:RegistrySearchRef Id="VCRedistInstalled"/>

		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkSidebarLicense">
			<bal:WixStandardBootstrapperApplication
				LicenseUrl="https://www.mongodb.com/licensing/server-side-public-license"
				LicenseFile="..\license.rtf"
				LogoFile="..\Logo.png"
				LogoSideFile="..\Sense-install-sidebar.png"
				SuppressOptionsUI="yes"
				ShowVersion="yes"
			/>
			
		</BootstrapperApplicationRef>

		<Chain>
			<!-- Add the .NET 6 Desktop and ASP.NET runtimes  -->
			<ExePackage
				SourceFile="dotnet-hosting-6.0.2-win.exe"
				DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/bff26878-9597-4390-a4ef-5bd818ba41a0/a7a8114362771690ec52e6fd09236ab8/dotnet-hosting-6.0.2-win.exe"
				InstallCommand="/q /install"
				RepairCommand="/q /repair"
				UninstallCommand="/q /uninstall"
				Compressed="no" 
			/>

			<!-- TODO: add the version number to the file.-->
			<ExePackage
				SourceFile="VC_redist.x64.exe"
				DownloadUrl="$(var.AwsVerionDirectory)VC_redist.x64.exe"
				InstallCommand="/q /install"
				RepairCommand="/q /repair"
				UninstallCommand="/q /uninstall"
				Compressed="no"  
				InstallCondition="NOT VCRedistributableInstalled"
			/>
			
			<!-- NOTE: Prior to building the BootStrapper we update the output filename of the WIX
			installers to include the version number so $var.<installerProject>.TargetPath) includes
			the version. -->
			<MsiPackage Id="SENSEAIYOLONET" 
						SourceFile="$(var.YoloNet.Installer.TargetPath)"
						DownloadUrl="$(var.AwsVerionDirectory)$(var.YoloNet.Installer.TargetFileName)"
						Compressed="no"
						ForcePerMachine="yes"
			/>

			<MsiPackage Id="SENSEAIPYTHON"
						SourceFile="$(var.Python37.Installer.TargetPath)"
						DownloadUrl="$(var.AwsVerionDirectory)$(var.Python37.Installer.TargetFileName)"
						Compressed="no"
						ForcePerMachine="yes"
			/>

			<MsiPackage Id="SENSEAIPYTHON39"
						SourceFile="$(var.Python39.Installer.TargetPath)"
						DownloadUrl="$(var.AwsVerionDirectory)$(var.Python39.Installer.TargetFileName)"
						Compressed="no"
						ForcePerMachine="yes"
			/>

			<MsiPackage Id="LEGACYMODULES"
						SourceFile="$(var.DeepStack.Installer.TargetPath)"
						DownloadUrl="$(var.AwsVerionDirectory)$(var.DeepStack.Installer.TargetFileName)"
						Compressed="no"
						ForcePerMachine="yes"
			/>

			<MsiPackage Id="TEXTSUMMARY"
						SourceFile="$(var.TextSummary.Installer.TargetPath)"
						DownloadUrl="$(var.AwsVerionDirectory)$(var.TextSummary.Installer.TargetFileName)"
						Compressed="no"
					ForcePerMachine="yes"
			/>

			<MsiPackage Id="BACKGROUNDREMOVER"
						SourceFile="$(var.BackgroundRemover.Installer.TargetPath)"
						DownloadUrl="$(var.AwsVerionDirectory)$(var.BackgroundRemover.Installer.TargetFileName)"
						Compressed="no"
						ForcePerMachine="yes"
			/>

			<MsiPackage Id="PORTRAITFILTER"
						SourceFile="$(var.PortraitFilter.Installer.TargetPath)"
						DownloadUrl="$(var.AwsVerionDirectory)$(var.PortraitFilter.Installer.TargetFileName)"
						Compressed="no"
						ForcePerMachine="yes"
			/>
			
			<!-- REVIEW: add version number to filename -->
			<MsiPackage Id="SENSEAISERVER"
						SourceFile="$(var.SenseAI.Server.Installer.TargetPath)"
						DownloadUrl="$(var.AwsVerionDirectory)$(var.SenseAI.Server.Installer.TargetFileName)"
						Compressed="no"
						ForcePerMachine="yes"
			/>

		</Chain>
	</Bundle>
	
	<Fragment>
		<util:RegistrySearch
			  Id='VCRedistInstalled'
			  Variable="VCRedistributableInstalled"
			  Result="exists"
			  Root="HKLM"
			  Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\X64"
			  Value="Installed"
			  Win64="yes"
			  />
	</Fragment>
</Wix>
