#! Python3.7

## SenseAI
requests		# Installing Requests, the HTTP library
Pillow			# Installing Pillow, a Python Image Library

## NOTE: We don't really care about numpy here, BUT the bgrem module is a little picky. So we can
##       stick to the lower version of numpy instead of the 1.22.3 that currently gets installed.
##       However: this may not be needed if we're using pip -r requirements: it may figure out the
##       issues for us.
## numpy==1.21.6   # Installing NumPy, the fundamental package for array computing with Python.
numpy

nltk			# Installing NLTK, the Natural Language Toolkit
networkx		# Installing NetworkX, a package for creating and manipulating graphs and networks
SciPy			# Installing SciPy, a library for mathematics, science, and engineering