<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<?include ..\SharedProperties.wxi ?>

	<Product Id="*" 
			 Name="CodeProject SenseAI Legacy Models" 
			 Language="1033" 
			 Version="$(var.BuildVersion)"
			 Manufacturer="CodeProject" 
			 UpgradeCode="3840d8e0-09df-4729-a365-b8ea7813464d">
		
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="LegacyModelsFeature" Title="Legacy AI Models" Level="1">
			<ComponentGroupRef Id="DeepStackAssetsComponentGroup" />
		</Feature>
	</Product>
	<?include ..\SharedDirectories.wxi ?>
</Wix>
