#! Python3.8

# Torch                         # Installing Torch, for Tensor computation and Deep neural networks
# TorchVision                   # Installing TorchVision, for Computer Vision based AI

# We'll lock down to Torch 1.X, CPU-only to play it safe
--extra-index-url https://download.pytorch.org/whl/cpu
torch==1.13.1+cpu               # Installing Torch, for Tensor computation and Deep neural networks
--extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.14.1+cpu         # Installing TorchVision, for Computer Vision based AI

# Specific version because we have a patch
ultralytics==8.1.2              # Installing Ultralytics package for object detection in images

# last line empty.