<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DeepStackInstallFolder">
            <Directory Id="dir0DC9852E0252D93A663D9EB7CD65C155" Name="assets" />
            <Directory Id="dirBA772071E1FEFFE111FFF4FD01F0A1D9" Name="datastore" />
            <Directory Id="dir4C7B1FB0EF519B575D728258CD763F1F" Name="intelligencelayer" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DeepStackFilesComponentGroup">
            <Component Id="cmpFBC0499522EA1537F2EF5B6262C98CD1" Directory="DeepStackInstallFolder" Guid="*">
                <File Id="filB0F03C0F0AEC84DF2562FD53F07BAC17" KeyPath="yes" Source="$(var.ModelsHarvestPath)\modulesettings.docker.json" />
            </Component>
            <Component Id="cmpFEDE2980927CAA6BD2DC3E667EEA837D" Directory="DeepStackInstallFolder" Guid="*">
                <File Id="fil26783006DE553DA46FCBA493F46CB6C9" KeyPath="yes" Source="$(var.ModelsHarvestPath)\modulesettings.json" />
            </Component>
            <Component Id="cmpDB039BEF4C0C9445241CDD20C68C89F5" Directory="DeepStackInstallFolder" Guid="*">
                <File Id="filDA50EF9290C16C3419E48C6F13621544" KeyPath="yes" Source="$(var.ModelsHarvestPath)\modulesettings.macos.json" />
            </Component>
            <Component Id="cmpAEF90950A52E5928C991A4D5F569AC09" Directory="DeepStackInstallFolder" Guid="*">
                <File Id="filF13D745CB7059D29AFA677D8A90F3830" KeyPath="yes" Source="$(var.ModelsHarvestPath)\modulesettings.windows.json" />
            </Component>
            <Component Id="cmp5431071C7DFCD8C0D96F6795BD47EA98" Directory="dir0DC9852E0252D93A663D9EB7CD65C155" Guid="*">
                <File Id="fil268ED379D34C51D6E1EDFBD30186AF9A" KeyPath="yes" Source="$(var.ModelsHarvestPath)\assets\categories_places365.txt" />
            </Component>
            <Component Id="cmp233A9B3C6FD4A25B78F1941CD9AD0183" Directory="dir0DC9852E0252D93A663D9EB7CD65C155" Guid="*">
                <File Id="fil98F193D4653E198E0A69D4D69D975658" KeyPath="yes" Source="$(var.ModelsHarvestPath)\assets\face.pt" />
            </Component>
            <Component Id="cmp36AF789EA19DC97B4E59EACB34A17D27" Directory="dir0DC9852E0252D93A663D9EB7CD65C155" Guid="*">
                <File Id="fil6967198A7EC10E01A2034B6F51FA8896" KeyPath="yes" Source="$(var.ModelsHarvestPath)\assets\facerec-high.model" />
            </Component>
            <Component Id="cmp5D93965B008978EBAE04FDA3B81E7EFF" Directory="dir0DC9852E0252D93A663D9EB7CD65C155" Guid="*">
                <File Id="filE9D96059734E27A90B0413BD181A2B88" KeyPath="yes" Source="$(var.ModelsHarvestPath)\assets\face_lite.pt" />
            </Component>
            <Component Id="cmpFE27FB844A3B223E8877B7861A98E3DA" Directory="dir0DC9852E0252D93A663D9EB7CD65C155" Guid="*">
                <File Id="fil4000D0BC3E12E0D3104169953E11ED77" KeyPath="yes" Source="$(var.ModelsHarvestPath)\assets\scene.model" />
            </Component>
            <Component Id="cmpE3482F201BF49D0E837E3F1E8C7EC5FC" Directory="dir0DC9852E0252D93A663D9EB7CD65C155" Guid="*">
                <File Id="filA34FB824B6E2A521B3FD0BD56CEBB239" KeyPath="yes" Source="$(var.ModelsHarvestPath)\assets\scene.pt" />
            </Component>
            <Component Id="cmpF4193B88D456E840B02204A9B4FB7797" Directory="dir0DC9852E0252D93A663D9EB7CD65C155" Guid="*">
                <File Id="fil3A2554C90FAAC4A634F59A2CFC5BF614" KeyPath="yes" Source="$(var.ModelsHarvestPath)\assets\yolov5m.pt" />
            </Component>
            <Component Id="cmp914283330EF80D90511BD4126E970F38" Directory="dir0DC9852E0252D93A663D9EB7CD65C155" Guid="*">
                <File Id="filB94EC2418E132107EA431C02278128BD" KeyPath="yes" Source="$(var.ModelsHarvestPath)\assets\yolov5s.pt" />
            </Component>
            <Component Id="cmp27D7E81E7EA68D69959102D4BECB21F0" Directory="dirBA772071E1FEFFE111FFF4FD01F0A1D9" Guid="*">
                <File Id="fil28FCBBE904C7A51DFCAA728301360C9A" KeyPath="yes" Source="$(var.ModelsHarvestPath)\datastore\faceembedding.db" />
            </Component>
            <Component Id="cmp7B7A18B4E24518D2D734E0B7164C528D" Directory="dir4C7B1FB0EF519B575D728258CD763F1F" Guid="*">
                <File Id="fil943C1B3049B18FE82631FE6CBE07D725" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\DeepStack.pyproj.user" />
            </Component>
            <Component Id="cmpE0B1BDAFB3DFDF3345A6011F764AD986" Directory="dir4C7B1FB0EF519B575D728258CD763F1F" Guid="*">
                <File Id="filD93E21D8B99D76481B9659DF343C9436" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\detection.py" />
            </Component>
            <Component Id="cmpD95B45E52982E8195CD9AD129544762D" Directory="dir4C7B1FB0EF519B575D728258CD763F1F" Guid="*">
                <File Id="fil5BCFC73F605647A504D19285B7004967" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\face.py" />
            </Component>
            <Component Id="cmpD303DB0D3EA1F9EE3136B9FC325717DB" Directory="dir4C7B1FB0EF519B575D728258CD763F1F" Guid="*">
                <File Id="filD379297180A9171043B996A3545AE231" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\init.py" />
            </Component>
            <Component Id="cmp7C1442EF6D41CD0CF282557F8092337C" Directory="dir4C7B1FB0EF519B575D728258CD763F1F" Guid="*">
                <File Id="fil1881B0D3FE0F122D0E5096897E3478AE" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\intelligencelayer.pyproj.user" />
            </Component>
            <Component Id="cmp6717AC4C3AFB64B5C227B1047C6D354E" Directory="dir4C7B1FB0EF519B575D728258CD763F1F" Guid="*">
                <File Id="filAAF11A54831C18F53B28C5D3419B5DFC" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\noop.bat" />
            </Component>
            <Component Id="cmp32619B79B27D96D813C4992DAA31095B" Directory="dir4C7B1FB0EF519B575D728258CD763F1F" Guid="*">
                <File Id="filEC9243AF91E14CDDE6425B04E7681EE9" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\process.py" />
            </Component>
            <Component Id="cmp4E57B47143F7CA3AB135929DA3F87517" Directory="dir4C7B1FB0EF519B575D728258CD763F1F" Guid="*">
                <File Id="filC5A41CFF481142366825356D6B68294F" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\requirements.macos.txt" />
            </Component>
            <Component Id="cmp775B8EDF4C8982E97052A05EDE003CBA" Directory="dir4C7B1FB0EF519B575D728258CD763F1F" Guid="*">
                <File Id="filDF35232821178EF4F00206CDF7BFDC5E" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\requirements.txt" />
            </Component>
            <Component Id="cmp3BEFFCC34F298874FD38659E4B216CB8" Directory="dir4C7B1FB0EF519B575D728258CD763F1F" Guid="*">
                <File Id="fil5A06DC5990911F37DAAA0BA5EAECC453" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\runAll.py" />
            </Component>
            <Component Id="cmpA3647B00F68A101DDF404AAB47DAB81A" Directory="dir4C7B1FB0EF519B575D728258CD763F1F" Guid="*">
                <File Id="fil482816EC2AFAD332B6064094F651CC0C" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\scene.py" />
            </Component>
            <Component Id="cmpFFE9031A4027D396A1D93C68E9047D62" Directory="dir4C7B1FB0EF519B575D728258CD763F1F" Guid="*">
                <File Id="filF1B85F21D025B5F2969052B9860D0729" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\shared.py" />
            </Component>
            <Component Id="cmp44C8881B50BB0A1230A2E8EB0559FFE5" Directory="dir4C7B1FB0EF519B575D728258CD763F1F" Guid="*">
                <File Id="fil32BB29CFCDC358D14F23F31D1D002E20" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\Vision.pyproj" />
            </Component>
            <Component Id="cmpFDD875DBC53DC4C747383B487BE912E7" Directory="dir4C7B1FB0EF519B575D728258CD763F1F" Guid="*">
                <File Id="filD20BAA76D3577784A09A9E28F3FAE2A1" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\__init__.py" />
            </Component>
            <Component Id="cmp34792BDBC9D7789F0364C9F41E1A320D" Directory="dir5178DC4F3108894D54747129AE80BDFC" Guid="*">
                <File Id="filF30D95529F20CB552698402E5CA756EC" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\commons\utils.py" />
            </Component>
            <Component Id="cmpD4968CDC57F5EB6911D969277D886B33" Directory="dirACBB3399831A0233978737CF510D81DA" Guid="*">
                <File Id="fil1DA117F0AC93291BF6BD07706B6ED9AD" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\models\common.py" />
            </Component>
            <Component Id="cmp54557001CDAB7D662C216C20976B86E0" Directory="dirACBB3399831A0233978737CF510D81DA" Guid="*">
                <File Id="fil10861BF91F146760D47262ABE2CEBE0B" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\models\experimental.py" />
            </Component>
            <Component Id="cmp11F6AF5F755BEF3BDF4A567441BBC800" Directory="dirACBB3399831A0233978737CF510D81DA" Guid="*">
                <File Id="fil90235719A3C6E6503D5E50C14A800F19" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\models\export.py" />
            </Component>
            <Component Id="cmpBF7F92DBF6D2A452AA5795CB6BD24576" Directory="dirACBB3399831A0233978737CF510D81DA" Guid="*">
                <File Id="fil79F4F9670C236B353DC2680813DD2262" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\models\yolo.py" />
            </Component>
            <Component Id="cmpE7D1B219621774870043297DED2251AF" Directory="dirACBB3399831A0233978737CF510D81DA" Guid="*">
                <File Id="filE82CF40BC70E29F3F57BDA638D808E0E" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\models\yolov5l.yaml" />
            </Component>
            <Component Id="cmp5775D9F5A04C13E8DAC983CE104BDCB8" Directory="dirACBB3399831A0233978737CF510D81DA" Guid="*">
                <File Id="fil719720007F020E9DA17FF5E4A758CD8D" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\models\yolov5m.yaml" />
            </Component>
            <Component Id="cmpD46C1A269EA6C9815F596F33238857F2" Directory="dirACBB3399831A0233978737CF510D81DA" Guid="*">
                <File Id="fil9857FDC78950963CD089D017EE1EE3AE" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\models\yolov5s.yaml" />
            </Component>
            <Component Id="cmp872E1EBEBAAA3CF2A54B19412AF50036" Directory="dirACBB3399831A0233978737CF510D81DA" Guid="*">
                <File Id="filA96225F298815AEB1F7196D4DD392509" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\models\yolov5x.yaml" />
            </Component>
            <Component Id="cmp1F6CC9931B083B514F74842CFC16204F" Directory="dirACBB3399831A0233978737CF510D81DA" Guid="*">
                <File Id="filB2936CAE741A29563A94D16DEC78FEE2" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\models\__init__.py" />
            </Component>
            <Component Id="cmp358ACAD1E0DE04CB4562CF03AA29363D" Directory="dir385CA24DF55B3DC0AC7908A837291C1C" Guid="*">
                <File Id="filAF6615B81CDBE09C13FD445342F58CAC" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\models\hub\yolov3-spp.yaml" />
            </Component>
            <Component Id="cmp48823EFA876F00F16CC728B0FB2BADA2" Directory="dir385CA24DF55B3DC0AC7908A837291C1C" Guid="*">
                <File Id="filF92843E9FF9B9E8807669D86E99D48B8" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\models\hub\yolov5-fpn.yaml" />
            </Component>
            <Component Id="cmpD03C22540868745DAB33064128AF2437" Directory="dir385CA24DF55B3DC0AC7908A837291C1C" Guid="*">
                <File Id="filC61793F348D7C7614B7EAC3D2CCC03E1" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\models\hub\yolov5-panet.yaml" />
            </Component>
            <Component Id="cmp7E60646BCC1A78B4ADF8C6E7AF91956B" Directory="dir97EA52F8422DE13A6DF62C96919F4AFE" Guid="*">
                <File Id="fil697577B782FDDD63CA3B62FE77A8A6B7" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\models\__pycache__\common.cpython-37.pyc" />
            </Component>
            <Component Id="cmp3F1E9CEA6096E9FEE90725B5B10D06A0" Directory="dir97EA52F8422DE13A6DF62C96919F4AFE" Guid="*">
                <File Id="fil22A8E5E8AE7FEEB134E8292C5A12C0F2" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\models\__pycache__\experimental.cpython-37.pyc" />
            </Component>
            <Component Id="cmp7926A7EAE254081CC3C2AA57C13D6B64" Directory="dir97EA52F8422DE13A6DF62C96919F4AFE" Guid="*">
                <File Id="fil39A0627313929452CFF8F2A6DECC1E97" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\models\__pycache__\yolo.cpython-37.pyc" />
            </Component>
            <Component Id="cmpC038BF621BBD457BB6A48C5DC5D88DC4" Directory="dir97EA52F8422DE13A6DF62C96919F4AFE" Guid="*">
                <File Id="fil36059FE6B64538F8EC96557E05C9F5A7" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\models\__pycache__\__init__.cpython-37.pyc" />
            </Component>
            <Component Id="cmp47DB35817D3FDB598114FF9FFF836F90" Directory="dir57ECEB97785864527955EE97FD867785" Guid="*">
                <File Id="fil980AD15C5535CB7BE265735DE79DD413" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\recognition\networks.py" />
            </Component>
            <Component Id="cmpB3DBEC8804E3894F4D9E70F8FDCF5434" Directory="dir57ECEB97785864527955EE97FD867785" Guid="*">
                <File Id="filCE3331C981EDB72FBDAB0AA7FFB19FD7" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\recognition\process.py" />
            </Component>
            <Component Id="cmp507D9B730A4B101E4212C8AC2738EA52" Directory="dir57ECEB97785864527955EE97FD867785" Guid="*">
                <File Id="fil4C75E9823B41D84783C413FC0CEBB54F" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\recognition\__init__.py" />
            </Component>
            <Component Id="cmp68D34A7FB03633641F80EFC849C0E284" Directory="dir4B07EFBCCF0E46C6294A6D2C3C308DED" Guid="*">
                <File Id="fil288022C7C0DBF7F072634E7E50531B29" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\recognition\__pycache__\networks.cpython-37.pyc" />
            </Component>
            <Component Id="cmpFD8D6817E45BE10821179E6C335EFF7E" Directory="dir4B07EFBCCF0E46C6294A6D2C3C308DED" Guid="*">
                <File Id="fil5D3D304906C2BE55C830CE215F323056" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\recognition\__pycache__\process.cpython-37.pyc" />
            </Component>
            <Component Id="cmpB023F322B20F9DAA1A2EBA7EC2D2EA1E" Directory="dir4B07EFBCCF0E46C6294A6D2C3C308DED" Guid="*">
                <File Id="filCFCA1B1414424A15EA23E723DE2E5D75" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\recognition\__pycache__\__init__.cpython-37.pyc" />
            </Component>
            <Component Id="cmp60327345684D494DC04F56072F0D499F" Directory="dir76161354ED82CA8728C1119253D53839" Guid="*">
                <File Id="fil238653CB1418DC3BA98B75D94DEED8A0" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\utils\activations.py" />
            </Component>
            <Component Id="cmp27C218EFA6B931E74034BFE938494709" Directory="dir76161354ED82CA8728C1119253D53839" Guid="*">
                <File Id="fil3ECA53167C719C7096FAFF35C7B654EB" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\utils\datasets.py" />
            </Component>
            <Component Id="cmp46012BC598A11C9B990C1FDB3F876955" Directory="dir76161354ED82CA8728C1119253D53839" Guid="*">
                <File Id="filD52F5228239701D354F3C4896EE5F405" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\utils\general.py" />
            </Component>
            <Component Id="cmp6B92392664ACAB65BAF07ED31B53CD53" Directory="dir76161354ED82CA8728C1119253D53839" Guid="*">
                <File Id="fil1B5FE6CE0F3A7D93671002256516CD98" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\utils\google_utils.py" />
            </Component>
            <Component Id="cmp51900C9506E0882D8897B20D5F2BD3D0" Directory="dir76161354ED82CA8728C1119253D53839" Guid="*">
                <File Id="filE45F39CD2F03A8EACF3E23BCD8D8DCB3" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\utils\torch_utils.py" />
            </Component>
            <Component Id="cmpB21360CF304042D2F4F51BDDA9ED3549" Directory="dir76161354ED82CA8728C1119253D53839" Guid="*">
                <File Id="fil4C12759E3C0BCF17E9B160C930259AAF" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\utils\__init__.py" />
            </Component>
            <Component Id="cmpCE824D0DCDB729ABAC7C35B0951C1562" Directory="dir7A9B8AEC4B8F86293B458C64469A5FC4" Guid="*">
                <File Id="fil85DBD596672BB2E681423D88F3802CA5" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\utils\__pycache__\datasets.cpython-37.pyc" />
            </Component>
            <Component Id="cmpD39C701A964E216F2482DED4967BFB99" Directory="dir7A9B8AEC4B8F86293B458C64469A5FC4" Guid="*">
                <File Id="filAD9ECE248A51BAFED5CE9565AE80966E" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\utils\__pycache__\general.cpython-37.pyc" />
            </Component>
            <Component Id="cmpAE7E5EB903AA055E39A6584D6E4B5541" Directory="dir7A9B8AEC4B8F86293B458C64469A5FC4" Guid="*">
                <File Id="fil333C5B8A22199BA29EB0BBB0C5BA7D37" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\utils\__pycache__\google_utils.cpython-37.pyc" />
            </Component>
            <Component Id="cmp76BC0C62EEA6B5D5A071BFB7F5F874BB" Directory="dir7A9B8AEC4B8F86293B458C64469A5FC4" Guid="*">
                <File Id="fil4DBE38BE6A272B444E6FE5DC271294DB" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\utils\__pycache__\torch_utils.cpython-37.pyc" />
            </Component>
            <Component Id="cmp10CD427D7E6215099A73EAA2965E1F4A" Directory="dir7A9B8AEC4B8F86293B458C64469A5FC4" Guid="*">
                <File Id="filCA533162164349097D1EE0059CDDA2B7" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\utils\__pycache__\__init__.cpython-37.pyc" />
            </Component>
            <Component Id="cmpB5C434E41B7CE83EB551A92994022840" Directory="dir076F872BC97ADACB37598996D3975FB3" Guid="*">
                <File Id="filCEBFA7829FF61098BAE3C7EF0DB374E6" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\__pycache__\process.cpython-37.pyc" />
            </Component>
            <Component Id="cmp97C84036973309251C4C64815585D5A6" Directory="dir076F872BC97ADACB37598996D3975FB3" Guid="*">
                <File Id="filE95FE0039F64E496ECFBA9265EBF1F76" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\__pycache__\senseAI.cpython-37.pyc" />
            </Component>
            <Component Id="cmpBCDC9CAA45867F137DC6F0A7A42A9BB4" Directory="dir076F872BC97ADACB37598996D3975FB3" Guid="*">
                <File Id="fil8DB4D88B4AC1B8CE20EFB5B132A1C9A6" KeyPath="yes" Source="$(var.ModelsHarvestPath)\intelligencelayer\__pycache__\shared.cpython-37.pyc" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4C7B1FB0EF519B575D728258CD763F1F">
            <Directory Id="dir076F872BC97ADACB37598996D3975FB3" Name="__pycache__" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirACBB3399831A0233978737CF510D81DA">
            <Directory Id="dir385CA24DF55B3DC0AC7908A837291C1C" Name="hub" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir57ECEB97785864527955EE97FD867785">
            <Directory Id="dir4B07EFBCCF0E46C6294A6D2C3C308DED" Name="__pycache__" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4C7B1FB0EF519B575D728258CD763F1F">
            <Directory Id="dir5178DC4F3108894D54747129AE80BDFC" Name="commons" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4C7B1FB0EF519B575D728258CD763F1F">
            <Directory Id="dir57ECEB97785864527955EE97FD867785" Name="recognition" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4C7B1FB0EF519B575D728258CD763F1F">
            <Directory Id="dir76161354ED82CA8728C1119253D53839" Name="utils" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir76161354ED82CA8728C1119253D53839">
            <Directory Id="dir7A9B8AEC4B8F86293B458C64469A5FC4" Name="__pycache__" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirACBB3399831A0233978737CF510D81DA">
            <Directory Id="dir97EA52F8422DE13A6DF62C96919F4AFE" Name="__pycache__" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4C7B1FB0EF519B575D728258CD763F1F">
            <Directory Id="dirACBB3399831A0233978737CF510D81DA" Name="models" />
        </DirectoryRef>
    </Fragment>
</Wix>