#! Python3

## CodeProject.AI SDK

# pipdeptree                # Installing pipdeptree, a PIP dependency tree utility

Pillow                      # Installing Pillow, a Python Image Library

# aiohttp 3.8.3 requires charset-normalizer<3.0,>=2.0, so force the issue
charset-normalizer          # Installing Charset normalizer

aiohttp                     # Installing aiohttp, the Async IO HTTP library
aiofiles                    # Installing aiofiles, the Async IO Files library
# GPUtil                    # Installing GPUtil to allow us to query GPU info
py-cpuinfo                  # Installing py-cpuinfo to allow us to query CPU info
requests                    # Installing Requests, the HTTP library

# Last line empty