#! Python3.9

## CodeProject.AI
requests					# Installing Requests, the HTTP library
Pillow						# Installing Pillow, a Python Image Library

## Background Remover
filetype==1.0.9				# Installing FileType, a package to infer file types and MIME types
gdown==4.4.0				# Installing gdown, a package for downloading from Google Drive folders
numpy==1.21.6				# Installing the required version of numpy of pymatting - numba
pymatting==1.1.5			# Installing pymatting, a Python Library for Alpha Matting
onnxruntime-gpu			    # ==1.10.0  # Installing the ONNX runtime

@ last line blank
