#! Python3.9

filetype					# Installing FileType, a package to infer file types and MIME types
gdown						# Installing gdown, a package for downloading from Google Drive folders
numpy						# Installing NumPy, a package for scientific computing
pymatting					# Installing pymatting, a Python Library for Alpha Matting
Pillow						# Installing Pillow, a Python Image Library

flatbuffers                 # Installing FlatBuffers serialization format support
onnxruntime                 # Installing the ONNX runtime.

## onnxruntime==1.8.2.dev169944

# last line blank