#! Python3.9

## For CUDA 11.7
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1                    # Installing PyTorch, an open source machine learning framework

diffusers[torch]                # Installing Diffusers for state-of-the-art diffusion in PyTorch and JAX.
transformers                    # Installing transformers for State-of-the-art machine Learning for JAX, PyTorch and TensorFlow

# last line empty.