#! Python3.7

# Requirements for Nvidia Jetson (Jetson is linux,Arm64, and has CUDA installed)

# Already installed
# OpenCV-Python             # Installing OpenCV, the Open source Computer Vision library

Pandas                      # Installing Pandas, a data analysis / data manipulation tool
CoreMLTools                 # Installing CoreMLTools, for working with .mlmodel format models
Pillow<10.0.0               # Installing Pillow, a Python Image Library
SciPy                       # Installing SciPy, a library for mathematics, science, and engineering
PyYAML                      # Installing PyYAML, a library for reading configuration files

# We want to target CUDA 10.2 for this one
-f https://download.pytorch.org/whl/cu102/torch_stable.html
torch==1.10.1+cu102         # Installing PyTorch, for Tensor computation and Deep neural networks
-f https://download.pytorch.org/whl/cu102/torch_stable.html
torchvision==0.11.2+cu102   # Installing TorchVision, for Computer Vision based AI

# We need this, but we don't need this.
Seaborn                     # Installing Seaborn, a data visualization library based on matplotlib

# last line empty.