#! Python3.8

Pandas                  # Installing Pandas, a data analysis / data manipulation tool
CoreMLTools             # Installing CoreMLTools, for working with .mlmodel format models
OpenCV-Python           # Installing OpenCV, the Open source Computer Vision library
Cython                  # Installing the Cython compiler for C extensions for the Python language.
Pillow                  # Installing Pillow, a Python Image Library
SciPy                   # Installing SciPy, a library for mathematics, science, and engineering
PyYAML                  # Installing PyYAML, a library for reading configuration files

-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.0            # Installing PyTorch, for Tensor computation and Deep neural networks

-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.9.0      # Installing TorchVision, for Computer Vision based AI

# We need this, but we don't need this.
Seaborn                 # Installing Seaborn, a data visualization library based on matplotlib

# last line left blank