#! Python3.7

Pandas           # Installing Pandas, a data analysis / data manipulation tool
CoreMLTools      # Installing CoreMLTools, for working with .mlmodel format models
OpenCV-Python    # Installing OpenCV, the Open source Computer Vision library
Pillow<10.0.0    # Installing Pillow, a Python Image Library
SciPy            # Installing SciPy, a library for mathematics, science, and engineering
PyYAML           # Installing PyYAML, a library for reading configuration files

## For CUDA:   (trying v1.10 since 1.11 has an issue with UpSample Module Layer)
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.10.2+cu113            # Installing PyTorch, an open source machine learning framework
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.11.3+cu113      # Installing TorchVision, for working with computer vision models

## These to be removed (not needed fro inference)
# matlabplotlib
Seaborn         # Installing Seaborn, a data visualization library based on matplotlib

## last line empty.