<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="BackgroundRemoverInstallFolder">
            <Directory Id="dir205D2DCD73087B475726C10F1FAFA6B1" Name="models" />
            <Directory Id="dirBCF6FFDABA08EFF19C345C6629725246" Name="rembg" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="BackgroundRemoverFilesComponentGroup">
            <Component Id="cmpEDF0921E0631C510C29F391754F3AA34" Directory="BackgroundRemoverInstallFolder" Guid="*">
                <File Id="fil723BE7AFD1BB3054C6EE3589975D3F77" KeyPath="yes" Source="$(var.ModelsHarvestPath)\BackgroundRemover.pyproj" />
            </Component>
            <Component Id="cmp07D3149B1449B5B901AD2D9D1DA4070A" Directory="BackgroundRemoverInstallFolder" Guid="*">
                <File Id="fil00765DF7AEE6BD3147BCBCD6A36F454C" KeyPath="yes" Source="$(var.ModelsHarvestPath)\BackgroundRemover.pyproj.user" />
            </Component>
            <Component Id="cmp9D3C3EA4344A11FC77F95140639DA674" Directory="BackgroundRemoverInstallFolder" Guid="*">
                <File Id="filC9C43EE300575CB4F48CF54818F24416" KeyPath="yes" Source="$(var.ModelsHarvestPath)\LICENSE.txt" />
            </Component>
            <Component Id="cmp5E6E8CB0E395167EA61C60A6157C0297" Directory="BackgroundRemoverInstallFolder" Guid="*">
                <File Id="fil7764ECBDC8FB0F8945F81FFCEB9F2970" KeyPath="yes" Source="$(var.ModelsHarvestPath)\modulesettings.json" />
            </Component>
            <Component Id="cmp5ADC1B031C8723A62FD0731A9B2F021E" Directory="BackgroundRemoverInstallFolder" Guid="*">
                <File Id="filDCC59A0737578BF5C5790FD907D5205F" KeyPath="yes" Source="$(var.ModelsHarvestPath)\rembg.py" />
            </Component>
            <Component Id="cmp7E10EFBBF4421654B60FEAE2CCA00140" Directory="BackgroundRemoverInstallFolder" Guid="*">
                <File Id="filDCB227C354F374E8B3F4BF55D75F259D" KeyPath="yes" Source="$(var.ModelsHarvestPath)\RemoveBackground.pyproj" />
            </Component>
            <Component Id="cmp1BAC01FB06C94F0F41F7E6F19BFA0B7E" Directory="BackgroundRemoverInstallFolder" Guid="*">
                <File Id="fil24B5C005744A1A8C854411BB836A5C44" KeyPath="yes" Source="$(var.ModelsHarvestPath)\requirements-gpu.txt" />
            </Component>
            <Component Id="cmp9E0050F53717AF41F9E06FA015784B68" Directory="BackgroundRemoverInstallFolder" Guid="*">
                <File Id="filB803317208024BD09D8895E0AC7AFA9F" KeyPath="yes" Source="$(var.ModelsHarvestPath)\requirements.txt" />
            </Component>
            <Component Id="cmp847DA4756A0DBE6756D5583489D73B8C" Directory="BackgroundRemoverInstallFolder" Guid="*">
                <File Id="filBD205F550631DE32DCC09B296EFB52FF" KeyPath="yes" Source="$(var.ModelsHarvestPath)\sense_rembg_adapter.py" />
            </Component>
            <Component Id="cmp6411AC2A02582913FED72DDBE1F1E14D" Directory="BackgroundRemoverInstallFolder" Guid="*">
                <File Id="filCEBD13110B716354191E1E7FA9486B76" KeyPath="yes" Source="$(var.ModelsHarvestPath)\test.html" />
            </Component>
            <Component Id="cmp138FA778485B61A32D46BF294894EB4F" Directory="BackgroundRemoverInstallFolder" Guid="*">
                <File Id="fil458FEB7148EBD7ECAF4464568AC72A2D" KeyPath="yes" Source="$(var.ModelsHarvestPath)\__init__.py" />
            </Component>
            <Component Id="cmpC7FBB53B51FCCA4BB783239C6CED18DE" Directory="dir205D2DCD73087B475726C10F1FAFA6B1" Guid="*">
                <File Id="fil260929173BB285F81545EE80EA1D8448" KeyPath="yes" Source="$(var.ModelsHarvestPath)\models\u2net.onnx" />
            </Component>
            <Component Id="cmpA98C986CFCB8828564C75CC37232FB3D" Directory="dirBCF6FFDABA08EFF19C345C6629725246" Guid="*">
                <File Id="fil531F69A06DA1250986DC25E3846EE19D" KeyPath="yes" Source="$(var.ModelsHarvestPath)\rembg\bg.py" />
            </Component>
            <Component Id="cmp537120DA2DDA7B409741AC22120198B2" Directory="dirBCF6FFDABA08EFF19C345C6629725246" Guid="*">
                <File Id="fil517699B8C9D6F2FE234B65954587028C" KeyPath="yes" Source="$(var.ModelsHarvestPath)\rembg\cli.py" />
            </Component>
            <Component Id="cmp9A65E22CBD0588F871B6BE4605190AF9" Directory="dirBCF6FFDABA08EFF19C345C6629725246" Guid="*">
                <File Id="filF8F7C27D32E6E5B247BBC7EE2423FEAF" KeyPath="yes" Source="$(var.ModelsHarvestPath)\rembg\session_base.py" />
            </Component>
            <Component Id="cmp5AEFBA9A47BB576796469F6321E43F5C" Directory="dirBCF6FFDABA08EFF19C345C6629725246" Guid="*">
                <File Id="filF5387B83D24C4B52C4C2A8E81C54B98B" KeyPath="yes" Source="$(var.ModelsHarvestPath)\rembg\session_cloth.py" />
            </Component>
            <Component Id="cmp5D2335C7E3D6C1D68F30FCC37D932B10" Directory="dirBCF6FFDABA08EFF19C345C6629725246" Guid="*">
                <File Id="fil16DE45EF57772C45E54FBB2CACB15E7D" KeyPath="yes" Source="$(var.ModelsHarvestPath)\rembg\session_factory.py" />
            </Component>
            <Component Id="cmp7C52693A6A2518557C132F74D0439CEC" Directory="dirBCF6FFDABA08EFF19C345C6629725246" Guid="*">
                <File Id="fil5711ACF905594B90092F78BE4E56EB40" KeyPath="yes" Source="$(var.ModelsHarvestPath)\rembg\session_simple.py" />
            </Component>
            <Component Id="cmp38F6FC26727AAE3F94F5C0ED28532F3D" Directory="dirBCF6FFDABA08EFF19C345C6629725246" Guid="*">
                <File Id="filA1AFFCB943D0591FA8EEDFC7F68C54A1" KeyPath="yes" Source="$(var.ModelsHarvestPath)\rembg\_version.py" />
            </Component>
            <Component Id="cmpD6D0EDBDC10FB5B8EE2CB20BFEB77ABD" Directory="dirBCF6FFDABA08EFF19C345C6629725246" Guid="*">
                <File Id="fil0DE25471D914DE1A9E3119FD083A34A5" KeyPath="yes" Source="$(var.ModelsHarvestPath)\rembg\__init__.py" />
            </Component>
            <Component Id="cmp36A322097D23C26E54CD8D1B21D45FB1" Directory="dirAE54248ADCE66EF3063AF7E1E3FDBF9F" Guid="*">
                <File Id="fil651CD85F747526F3A986438DCBAA7576" KeyPath="yes" Source="$(var.ModelsHarvestPath)\rembg\__pycache__\bg.cpython-39.pyc" />
            </Component>
            <Component Id="cmp75AE5EF88AF993CB6EC1ACAAE88C5562" Directory="dirAE54248ADCE66EF3063AF7E1E3FDBF9F" Guid="*">
                <File Id="fil675D79A156CA9B19CBBE25D75AB4A58F" KeyPath="yes" Source="$(var.ModelsHarvestPath)\rembg\__pycache__\cli.cpython-39.pyc" />
            </Component>
            <Component Id="cmpC090FFB5D5EF82A79DC281421E5F33E5" Directory="dirAE54248ADCE66EF3063AF7E1E3FDBF9F" Guid="*">
                <File Id="filF0B622DB4E0B236C259C1224C4735C7F" KeyPath="yes" Source="$(var.ModelsHarvestPath)\rembg\__pycache__\session_base.cpython-39.pyc" />
            </Component>
            <Component Id="cmpBA2E1DB3ACF4E83A925287D2EA0186BE" Directory="dirAE54248ADCE66EF3063AF7E1E3FDBF9F" Guid="*">
                <File Id="fil524352ADEC0642FDC9233D662D669B74" KeyPath="yes" Source="$(var.ModelsHarvestPath)\rembg\__pycache__\session_cloth.cpython-39.pyc" />
            </Component>
            <Component Id="cmpB633EE9C5F01FA8DA97F089E6D0F1E6C" Directory="dirAE54248ADCE66EF3063AF7E1E3FDBF9F" Guid="*">
                <File Id="fil81A395C0A5BA451C3F2B229EA7798101" KeyPath="yes" Source="$(var.ModelsHarvestPath)\rembg\__pycache__\session_factory.cpython-39.pyc" />
            </Component>
            <Component Id="cmp2383EC1D6871E3D65B4F842F930645F1" Directory="dirAE54248ADCE66EF3063AF7E1E3FDBF9F" Guid="*">
                <File Id="filC134AC4404451702D8F3CF569BE101E1" KeyPath="yes" Source="$(var.ModelsHarvestPath)\rembg\__pycache__\session_simple.cpython-39.pyc" />
            </Component>
            <Component Id="cmpD2B4C421311E6F41EC75F86620135C9C" Directory="dirAE54248ADCE66EF3063AF7E1E3FDBF9F" Guid="*">
                <File Id="fil9C79BAB727E402D8A12E064666D35EF2" KeyPath="yes" Source="$(var.ModelsHarvestPath)\rembg\__pycache__\_version.cpython-39.pyc" />
            </Component>
            <Component Id="cmpD098D73393D326F366951C7A40C2CA15" Directory="dirAE54248ADCE66EF3063AF7E1E3FDBF9F" Guid="*">
                <File Id="filB8885651ED8E6B152B1122CF6AE3A956" KeyPath="yes" Source="$(var.ModelsHarvestPath)\rembg\__pycache__\__init__.cpython-39.pyc" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirBCF6FFDABA08EFF19C345C6629725246">
            <Directory Id="dirAE54248ADCE66EF3063AF7E1E3FDBF9F" Name="__pycache__" />
        </DirectoryRef>
    </Fragment>
</Wix>