ONNXRuntime
Redis
OpenCV-Python
Cython
Pillow
SciPy
TDQM
Tensorboard
PyYAML
Matplotlib

## these were missing in models/*.py but aren't used everywhere.
THOP
ONNX
Pandas
Seaborn
CoreMLTools

## These were missing, but we might need directml versions
--find-links https://download.pytorch.org/whl/torch_stable.html
Torch==1.6.0
--find-links https://download.pytorch.org/whl/torch_stable.html
TorchVision==v0.7.0

